#project {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#project h2 {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
