.dynalitecontrol-child {
  position: absolute;
  top: 693px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 12px rgba(166, 166, 166, 0.15);
  width: 1440px;
  height: 7063px;
}
.go-to-top2 {
  position: absolute;
  top: 7490px;
  left: 115px;
  width: 83.88px;
  height: 18.49px;
  cursor: pointer;
}
.group-child18 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-14xl);
  background-color: var(--color-burlywood-200);
  width: 316px;
  height: 45px;
}
.view-next-project2 {
  position: absolute;
  top: 17px;
  left: 32px;
  line-height: 36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 12px;
}
.rectangle-parent3 {
  position: absolute;
  top: 7480px;
  left: 1032px;
  width: 316px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.the-philips-dynalite {
  margin: 0;
}
.the-philips-dynalite-container {
  position: absolute;
  top: 848px;
  left: 120px;
  line-height: 25px;
  display: inline-block;
  width: 1223px;
  height: 456px;
}
.about-the-app,
.i-developed-a,
.i-utilized-task,
.in-the-wireframes,
.storyboarding-proved-to {
  position: absolute;
  top: 1415px;
  left: 120px;
  line-height: 30px;
  display: inline-block;
  width: 1211px;
  height: 113px;
}
.about-the-app,
.i-developed-a,
.i-utilized-task,
.in-the-wireframes {
  top: 3268px;
  width: 1219px;
}
.about-the-app,
.i-developed-a,
.in-the-wireframes {
  top: 5867px;
  width: 1195px;
}
.about-the-app,
.in-the-wireframes {
  top: 6529px;
  width: 1157px;
}
.about-the-app {
  top: 777px;
  font-size: var(--font-size-5xl);
  line-height: 22px;
  width: 702px;
  height: 50px;
}
.rapid-prototyping,
.storyboarding2,
.task-flow-diagram,
.user-interviews1,
.wireframing4 {
  position: absolute;
  top: 1364px;
  left: 120px;
  font-size: var(--font-size-5xl);
  line-height: 22px;
  display: inline-block;
  width: 505px;
}
.rapid-prototyping,
.task-flow-diagram,
.user-interviews1,
.wireframing4 {
  top: 3211px;
}
.rapid-prototyping,
.user-interviews1,
.wireframing4 {
  top: 4925px;
  left: 117px;
}
.user-interviews1,
.wireframing4 {
  top: 5806px;
  left: 120px;
}
.wireframing4 {
  top: 6468px;
}
.dyn3-icon,
.dyn4-icon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 325px;
  height: 244px;
  object-fit: cover;
}
.dyn4-icon {
  top: 0;
  left: 355px;
  width: 327px;
  height: 246px;
}
.dyn5-icon,
.dyn6-icon,
.dyn8-icon,
.dyn9-icon {
  position: absolute;
  top: 2px;
  left: 712px;
  width: 326px;
  height: 244px;
  object-fit: cover;
}
.dyn6-icon,
.dyn8-icon,
.dyn9-icon {
  top: 276px;
  left: 0;
}
.dyn8-icon,
.dyn9-icon {
  left: 356px;
}
.dyn9-icon {
  left: 713px;
  width: 325px;
}
.dyn10-icon,
.dyn11-icon,
.dyn12-icon,
.dyn13-icon {
  position: absolute;
  top: 550px;
  left: 0;
  width: 326px;
  height: 244px;
  object-fit: cover;
}
.dyn11-icon,
.dyn12-icon,
.dyn13-icon {
  left: 356px;
}
.dyn12-icon,
.dyn13-icon {
  left: 712px;
  width: 325px;
}
.dyn13-icon {
  top: 825px;
  left: 0;
  height: 246px;
}
.dyn14-icon,
.dyn15-icon,
.dyn16-icon {
  position: absolute;
  top: 824px;
  left: 355px;
  width: 326px;
  height: 247px;
  object-fit: cover;
}
.dyn15-icon,
.dyn16-icon {
  top: 825px;
  left: 711px;
  height: 246px;
}
.dyn16-icon {
  top: 1098px;
  left: 1px;
  width: 325px;
  height: 245px;
}
.dyn17-icon,
.dyn18-icon,
.dyn19-icon,
.dyn20-icon {
  position: absolute;
  top: 1096px;
  left: 356px;
  width: 325px;
  height: 247px;
  object-fit: cover;
}
.dyn18-icon,
.dyn19-icon,
.dyn20-icon {
  top: 1098px;
  left: 711px;
  height: 245px;
}
.dyn19-icon,
.dyn20-icon {
  top: 1373px;
  left: 194px;
  width: 326px;
  height: 246px;
}
.dyn20-icon {
  left: 550px;
  width: 325px;
}
.dyn1 {
  position: absolute;
  top: 1496px;
  left: 194px;
  width: 1038px;
  height: 1619px;
}
.dyn21-icon,
.dyn22-icon {
  position: absolute;
  top: 0;
  left: 326px;
  width: 889px;
  height: 719px;
  object-fit: cover;
}
.dyn22-icon {
  top: 724px;
  left: 0;
  width: 892px;
  height: 716px;
}
.dyn-21 {
  position: absolute;
  top: 3435px;
  left: 99px;
  width: 1215px;
  height: 1440px;
}
.dyn28-icon,
.dyn29-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 394px;
  height: 356px;
  object-fit: cover;
}
.dyn29-icon {
  left: 480px;
  width: 380px;
  height: 358px;
}
.dyn-28,
.dyn30-1-icon {
  position: absolute;
  top: 6019px;
  left: 266px;
  width: 860px;
  height: 358px;
}
.dyn30-1-icon {
  top: 0;
  left: -4px;
  width: 250px;
  height: 331px;
  object-fit: cover;
}
.icon1 {
  left: 278px;
  height: 330px;
  object-fit: cover;
}
.icon1,
.icon2,
.icon3 {
  position: absolute;
  top: 0;
  width: 249px;
}
.icon2 {
  left: 561px;
  height: 330px;
  object-fit: cover;
}
.icon3 {
  left: 842px;
}
.icon3,
.icon4,
.icon5,
.icon6 {
  height: 330px;
  object-fit: cover;
}
.icon4 {
  position: absolute;
  top: 361px;
  left: -4px;
  width: 250px;
}
.icon5,
.icon6 {
  width: 249px;
}
.icon5 {
  position: absolute;
  top: 363px;
  left: 278px;
}
.icon6 {
  top: 361px;
  left: 565px;
}
.dyn-30,
.icon6,
.icon7 {
  position: absolute;
}
.icon7 {
  top: 361px;
  left: 846px;
  width: 249px;
  height: 330px;
  object-fit: cover;
}
.dyn-30 {
  top: 6702px;
  left: 174px;
  width: 1091px;
  height: 685px;
}
.download-android-1-icon1,
.download-mac-2-icon1 {
  position: absolute;
  top: 195px;
  left: 1187px;
  width: 76px;
  height: 25px;
  object-fit: cover;
}
.download-mac-2-icon1 {
  top: 191px;
  left: 1270px;
  width: 73px;
  height: 30px;
}
.dynalite-control {
  position: absolute;
  top: 532px;
  left: 82px;
  font-size: var(--font-size-61xl);
  line-height: 88px;
  display: inline-block;
  color: var(--color-burlywood-100);
  width: 464px;
  height: 161px;
}
.dyn26-1-icon,
.ml-logo-1-icon3 {
  position: absolute;
  object-fit: cover;
}
.ml-logo-1-icon3 {
  top: 56px;
  left: 80px;
  width: 82px;
  height: 86px;
  cursor: pointer;
}
.dyn26-1-icon {
  top: 389px;
  left: 597px;
  width: 581px;
  height: 343px;
}
.dyn23-icon,
.dyn24-icon,
.dyn25-icon {
  position: absolute;
  top: 5px;
  left: 0;
  width: 603px;
  height: 366px;
  object-fit: cover;
}
.dyn23-icon,
.dyn24-icon {
  top: 410px;
  left: 21px;
  width: 560px;
  height: 322px;
}
.dyn23-icon {
  top: 0;
  left: 621px;
  width: 572px;
  height: 374px;
}
.dyn-23 {
  position: absolute;
  top: 5015px;
  left: 99px;
  width: 1193px;
  height: 732px;
}
.dyn1-icon,
.ipad-bg-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 537px;
  height: 410px;
  object-fit: cover;
}
.dyn1-icon {
  top: 17px;
  left: 22px;
  border-radius: var(--br-5xs);
  width: 495px;
  height: 372px;
}
.ipad-bg-1-parent,
.mobile-bg-1-icon {
  position: absolute;
  top: 0;
  left: 109px;
  width: 537px;
  height: 410px;
}
.mobile-bg-1-icon {
  left: 0;
  width: 147px;
  height: 270px;
  object-fit: cover;
}
.dyn2-10-icon,
.mobile-bg-1-wrapper {
  position: absolute;
  top: 138px;
  left: 0;
  width: 147px;
  height: 270px;
}
.dyn2-10-icon {
  top: 164px;
  left: 15px;
  width: 121px;
  height: 212px;
  object-fit: cover;
}
.dynalitecontrol-header {
  position: absolute;
  top: 286px;
  left: 633px;
  width: 646px;
  height: 410px;
}
.dynalite-control1,
.portfolio4 {
  position: absolute;
  top: 187px;
  font-size: var(--font-size-base);
  line-height: 33px;
  font-family: var(--font-chivo);
}
.portfolio4 {
  left: 79px;
  font-weight: 300;
  cursor: pointer;
}
.dynalite-control1 {
  left: 178px;
}
.chevron-1-icon2 {
  position: absolute;
  top: 199px;
  left: 158px;
  width: 7px;
  height: 9px;
  object-fit: cover;
}
.about-me3,
.my-skill-set2,
.portfolio5,
.resume2 {
  position: absolute;
  top: 85px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.about-me3 {
  left: 633px;
  font-weight: 500;
  width: 120px;
}
.my-skill-set2,
.portfolio5,
.resume2 {
  left: 837px;
  width: 155px;
}
.portfolio5,
.resume2 {
  left: 1076px;
  width: 90px;
}
.resume2 {
  left: 1250px;
  width: 120px;
}
.dynalitecontrol-item {
  position: absolute;
  top: 108px;
  left: 1082px;
  background-color: var(--color-burlywood-100);
  width: 78px;
  height: 5px;
}
.dynalitecontrol {
  position: relative;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 7756px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
