.dyn2-icon1,
.mobile-bg-2-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 147px;
  height: 270px;
  object-fit: cover;
}
.dyn2-icon1 {
  top: 25px;
  left: 15px;
  border-radius: var(--br-10xs);
  width: 120px;
  height: 214px;
}
.mobile-bg-2-group {
  position: absolute;
  top: 424px;
  left: 3499px;
  width: 147px;
  height: 270px;
}
.image-59-icon {
  position: absolute;
  top: calc(50% + 1691px);
  left: calc(50% + 238px);
  width: 279px;
  height: 351px;
  object-fit: cover;
}
.easyaim-case-study-child,
.image-60-icon {
  position: absolute;
  top: 12924px;
  left: 641px;
  width: 365px;
  height: 193px;
  object-fit: cover;
}
.easyaim-case-study-child {
  left: 1006px;
  border-radius: 50%;
  width: 227px;
  height: 227px;
}
.easyaim-case-study-item {
  position: absolute;
  top: 242px;
  left: -1px;
  background-color: #e9e9e9;
  width: 1425px;
  height: 634px;
}
.zara-windows-oxford-street-lon-icon {
  position: absolute;
  bottom: 21032px;
  left: 0;
  width: 1442px;
  height: 656px;
  object-fit: cover;
}
.easyaim-case-study-inner {
  position: absolute;
  top: 220px;
  left: 1187px;
  border-radius: 50%;
  background-color: rgba(243, 59, 87, 0.7);
  width: 255px;
  height: 255px;
}
.easyaim-case-study-child1 {
  position: absolute;
  top: 341px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 647px;
  height: 419px;
}
.easyaim-case-study-child2,
.easyaim-case-study-child3,
.easyaim-case-study-child4 {
  position: absolute;
  top: 2937px;
  left: 762px;
  border-radius: 50%;
  background-color: var(--color-mistyrose-100);
  width: 362px;
  height: 362px;
}
.easyaim-case-study-child3,
.easyaim-case-study-child4 {
  top: 3955px;
  left: 1074px;
  width: 175px;
  height: 175px;
}
.easyaim-case-study-child4 {
  top: 4361px;
  left: 657px;
}
.interact-retail-easyaim {
  position: absolute;
  top: 109px;
  left: 0;
  line-height: 33px;
  font-weight: 900;
}
.facilitating-seamless-aiming {
  position: absolute;
  top: 188px;
  left: 0;
  font-size: var(--font-size-10xl);
  line-height: 40px;
  display: inline-block;
  color: var(--color-white);
  width: 550px;
  height: 139px;
}
.image-14-icon {
  position: absolute;
  top: 0;
  left: 4px;
  border-radius: var(--br-6xs);
  width: 79px;
  height: 79px;
  object-fit: cover;
}
.interact-retail-easyaim-parent {
  position: absolute;
  top: 380px;
  left: 75px;
  width: 550px;
  height: 327px;
  font-size: 47px;
  color: #ec4c64;
}
.easyaim-case-study-child5 {
  position: absolute;
  top: 3674.48px;
  left: 178px;
  background-color: var(--color-mistyrose-100);
  width: 190.73px;
  height: 417.18px;
  transform: rotate(-62.69deg);
  transform-origin: 0 0;
}
.image-18-icon {
  position: absolute;
  top: 14px;
  left: 5px;
  border-radius: var(--br-5xl);
  width: 221px;
  height: 434px;
  object-fit: cover;
}
.image-18-parent,
.iphonebg-2-icon {
  position: absolute;
  width: 230px;
  height: 462px;
}
.iphonebg-2-icon {
  top: 0;
  left: 0;
  object-fit: cover;
}
.image-18-parent {
  top: 416px;
  left: 1146px;
}
.image-16-icon,
.iphonebg-1-icon {
  position: absolute;
  object-fit: cover;
}
.image-16-icon {
  top: 14px;
  left: 4px;
  border-radius: var(--br-2xl);
  width: 222px;
  height: 434px;
}
.iphonebg-1-icon {
  top: 0;
  left: 0;
  width: 231px;
  height: 462px;
}
.image-16-group,
.image-16-parent,
.image-17-icon {
  position: absolute;
  top: 416px;
  left: 895px;
  width: 231px;
  height: 462px;
}
.image-16-group,
.image-17-icon {
  top: 2887px;
  left: 828px;
}
.image-17-icon {
  top: 14px;
  left: 5px;
  border-radius: var(--br-4xl);
  width: 220px;
  height: 433px;
  object-fit: cover;
}
.image-17-parent {
  position: absolute;
  top: 415px;
  left: 653px;
  width: 230px;
  height: 462px;
}
.responsibilties1 {
  position: absolute;
  top: 1015px;
  left: 130px;
  font-size: var(--font-size-11xl);
  line-height: 33px;
}
.visual-merchandisers-risk {
  position: absolute;
  top: 1999px;
  left: 116px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  display: inline-block;
  width: 1178px;
  height: 161px;
}
.problem1,
.the-solution1 {
  position: absolute;
  top: 1222px;
  left: 116px;
  letter-spacing: 0.1em;
  line-height: 33px;
  font-weight: 300;
  display: inline-block;
  width: 76px;
}
.the-solution1 {
  top: 2617px;
  width: 134px;
}
.competitor-analysis,
.designing-the-widget,
.mind-mapping,
.storyboarding1,
.understanding-the-architecture,
.user-stories {
  position: absolute;
  top: 4637px;
  left: 116px;
  letter-spacing: 0.1em;
  line-height: 33px;
  font-weight: 300;
  display: inline-block;
  width: 190px;
}
.designing-the-widget,
.mind-mapping,
.storyboarding1,
.understanding-the-architecture,
.user-stories {
  top: 5463px;
  width: 300px;
}
.designing-the-widget,
.mind-mapping,
.storyboarding1,
.user-stories {
  top: 8560px;
  width: 133px;
}
.designing-the-widget,
.mind-mapping,
.user-stories {
  top: 10202px;
  width: 146px;
}
.designing-the-widget,
.mind-mapping {
  top: 12178px;
  width: 308px;
  height: 29px;
}
.mind-mapping {
  top: 13632px;
}
.conclusion-learnings1,
.demo-testing,
.drafting-widget-ui,
.the-final-screens1,
.widget-improvements,
.wireframing3 {
  position: absolute;
  top: 14337px;
  left: 115px;
  letter-spacing: 0.1em;
  line-height: 33px;
  font-weight: 300;
  display: inline-block;
  width: 369px;
  height: 27px;
}
.conclusion-learnings1,
.demo-testing,
.the-final-screens1,
.widget-improvements,
.wireframing3 {
  top: 16183px;
  left: 116px;
}
.conclusion-learnings1,
.demo-testing,
.the-final-screens1,
.wireframing3 {
  top: 17572px;
  left: 115px;
}
.conclusion-learnings1,
.the-final-screens1,
.wireframing3 {
  top: 21019px;
  left: 116px;
}
.the-final-screens1,
.wireframing3 {
  top: 18508px;
  left: 115px;
}
.the-final-screens1 {
  top: 20253px;
}
.role1,
.tools1 {
  position: absolute;
  top: 909px;
  left: 712px;
  font-size: var(--font-size-11xl);
  line-height: 33px;
}
.role1 {
  left: 131px;
}
.user-research-explorations {
  margin-bottom: 0;
}
.mentor-and-guide-a-team-of-2-u {
  margin: 0;
  padding-left: var(--padding-5xl);
}
.lead-designer-and-container,
.mentor-and-guide-container1,
.sketch-photoshop-invision-container1 {
  position: absolute;
  top: 1064px;
  left: 144px;
  font-size: var(--font-inherit);
  line-height: 33px;
  font-family: var(--font-inherit);
}
.lead-designer-and-container,
.sketch-photoshop-invision-container1 {
  top: 958px;
  left: 726px;
}
.lead-designer-and-container {
  left: 145px;
}
.easyaim-case-study-child6 {
  position: absolute;
  top: 1204.5px;
  left: 115.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1194px;
  height: 1px;
}
.easyaim-case-study-child10,
.easyaim-case-study-child7,
.easyaim-case-study-child8,
.easyaim-case-study-child9 {
  position: absolute;
  top: 2579.5px;
  left: 115.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1178px;
  height: 1px;
}
.easyaim-case-study-child10,
.easyaim-case-study-child8,
.easyaim-case-study-child9 {
  top: 4599.5px;
  width: 1194px;
}
.easyaim-case-study-child10,
.easyaim-case-study-child9 {
  top: 5425.5px;
}
.easyaim-case-study-child10 {
  top: 8522.5px;
  width: 1193px;
}
.line-icon {
  position: absolute;
  top: 10161px;
  left: 116px;
  width: 1193px;
  height: 4px;
}
.easyaim-case-study-child11,
.easyaim-case-study-child12,
.easyaim-case-study-child13 {
  position: absolute;
  top: 12140.5px;
  left: 112.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1197px;
  height: 1px;
}
.easyaim-case-study-child12,
.easyaim-case-study-child13 {
  top: 13594.5px;
  left: 115.5px;
  width: 1194px;
}
.easyaim-case-study-child13 {
  top: 14299.5px;
}
.easyaim-case-study-child14,
.easyaim-case-study-child15,
.easyaim-case-study-child16,
.easyaim-case-study-child17,
.easyaim-case-study-child18 {
  position: absolute;
  top: 16145.5px;
  left: 115.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1194px;
  height: 1px;
}
.easyaim-case-study-child15,
.easyaim-case-study-child16,
.easyaim-case-study-child17,
.easyaim-case-study-child18 {
  top: 18470.5px;
}
.easyaim-case-study-child16,
.easyaim-case-study-child17,
.easyaim-case-study-child18 {
  top: 17534.5px;
}
.easyaim-case-study-child17,
.easyaim-case-study-child18 {
  top: 20981.5px;
}
.easyaim-case-study-child18 {
  top: 20215.5px;
  left: 110.5px;
  width: 1199px;
}
.many-fashion-retailers-container {
  position: absolute;
  top: 2271px;
  left: 250px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
  width: 384px;
  height: 223px;
}
.touch-sensitive-widget {
  margin-bottom: 18px;
}
.ability-to-assignunassign-container,
.overview-of-all-container,
.touch-sensitive-widget-container {
  position: absolute;
  top: 3030px;
  left: 250px;
  font-size: var(--font-inherit);
  line-height: 28px;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 384px;
  height: 223px;
}
.ability-to-assignunassign-container,
.overview-of-all-container {
  top: 3626px;
  left: 712px;
  width: 450px;
  height: 206px;
}
.ability-to-assignunassign-container {
  top: 4197px;
  left: 250px;
  width: 384px;
  height: 223px;
}
.after-finalizing-the,
.assign-new-spots,
.choose-appropriate-shop,
.ui-widget-to,
.we-engaged-in {
  position: absolute;
  top: 2963px;
  left: 250px;
  font-size: var(--font-size-12xl);
  line-height: 28px;
  display: inline-block;
  width: 462px;
  height: 87px;
}
.after-finalizing-the,
.assign-new-spots,
.choose-appropriate-shop,
.we-engaged-in {
  top: 3559px;
  left: 712px;
  width: 520px;
}
.after-finalizing-the,
.assign-new-spots,
.we-engaged-in {
  top: 4130px;
  left: 250px;
}
.after-finalizing-the,
.we-engaged-in {
  top: 5700px;
  left: 116px;
  font-size: var(--font-size-lg);
  width: 1218px;
  height: 83px;
}
.after-finalizing-the {
  top: 8772px;
  width: 1220px;
  height: 85px;
}
.through-interdisciplinary-disc {
  margin: 0;
}
.in-the-industry,
.through-interdisciplinary-disc-container {
  position: absolute;
  top: 10419px;
  left: 116px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
  width: 1220px;
  height: 80px;
}
.in-the-industry {
  top: 4881px;
  width: 1222px;
  height: 84px;
}
.analysing-benchmarks-of,
.breaking-down-the,
.gathering-insights-of,
.shaping-the-user,
.to-develop-an {
  position: absolute;
  top: 2669px;
  left: 116px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  display: inline-block;
  width: 1176px;
  height: 182px;
}
.analysing-benchmarks-of,
.breaking-down-the,
.gathering-insights-of,
.shaping-the-user {
  top: 4715px;
  width: 1193px;
  height: 125px;
}
.breaking-down-the,
.gathering-insights-of,
.shaping-the-user {
  top: 5551px;
  left: 114px;
  height: 121px;
}
.breaking-down-the,
.shaping-the-user {
  top: 8630px;
  left: 116px;
  height: 117px;
}
.breaking-down-the {
  top: 10283px;
  height: 136px;
}
.creating-different-interaction,
.exploring-an-intuitive,
.gain-a-thorough,
.mockup-showing-the,
.re-iterating-the-widget,
.refining-the-ui {
  position: absolute;
  top: 12259px;
  left: 116px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  display: inline-block;
  width: 1176px;
  height: 136px;
}
.creating-different-interaction,
.gain-a-thorough,
.mockup-showing-the,
.re-iterating-the-widget,
.refining-the-ui {
  top: 13713px;
  height: 181px;
}
.creating-different-interaction,
.mockup-showing-the,
.re-iterating-the-widget,
.refining-the-ui {
  top: 14418px;
  left: 115px;
  height: 126px;
}
.mockup-showing-the,
.re-iterating-the-widget,
.refining-the-ui {
  top: 16264px;
  left: 116px;
}
.mockup-showing-the,
.refining-the-ui {
  top: 18589px;
  left: 115px;
}
.refining-the-ui {
  top: 17094px;
  left: 152px;
  font-size: var(--font-size-9xl);
  width: 357px;
  height: 327px;
}
.demo-setup-was,
.overlapping-the-widgets,
.seggregating-the-pan,
.the-final-product1,
.what-id-do1 {
  position: absolute;
  top: 17653px;
  left: 115px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  display: inline-block;
  width: 1176px;
  height: 126px;
}
.overlapping-the-widgets,
.seggregating-the-pan,
.the-final-product1,
.what-id-do1 {
  top: 21100px;
  left: 116px;
  height: 62px;
}
.overlapping-the-widgets,
.seggregating-the-pan,
.the-final-product1 {
  top: 20334px;
  left: 115px;
  height: 59px;
}
.overlapping-the-widgets,
.seggregating-the-pan {
  top: 16504px;
  left: 151px;
  font-size: var(--font-size-4xl);
  width: 426px;
  height: 87px;
}
.overlapping-the-widgets {
  top: 16834px;
  width: 404px;
  height: 54px;
}
.image-19-icon,
.image-20-icon {
  position: absolute;
  top: 2217px;
  left: 963px;
  border-radius: var(--br-5xs);
  width: 229px;
  height: 308px;
  object-fit: cover;
}
.image-19-icon {
  top: 2216px;
  left: 726px;
  width: 204px;
  height: 309px;
}
.ezgif-7-5d00c7424a-1-icon,
.image-22-icon {
  position: absolute;
  top: 5811px;
  left: 164px;
  width: 590px;
  height: 434px;
  object-fit: cover;
}
.ezgif-7-5d00c7424a-1-icon {
  top: 1289px;
  left: 130px;
  width: 1164px;
  height: 648px;
}
.div1,
.div2,
.div3 {
  position: absolute;
  top: 3090px;
  left: 261px;
  font-size: var(--font-size-481xl);
  line-height: 28px;
  font-family: var(--font-copse);
  color: var(--color-pink-200);
}
.div2,
.div3 {
  top: 3678px;
  left: 770px;
}
.div3 {
  top: 4263px;
  left: 261px;
}
.easyaim-case-study-child19 {
  position: absolute;
  top: 14622px;
  left: 683.38px;
  background-color: var(--color-mistyrose-200);
  width: 299.53px;
  height: 655.16px;
  transform: rotate(60deg);
  transform-origin: 0 0;
}
.image-81-icon {
  position: absolute;
  top: 13px;
  left: 14px;
  border-radius: 12px;
  width: 204px;
  height: 435px;
  object-fit: cover;
}
.image-81-parent,
.image-82-icon {
  position: absolute;
  top: 4016px;
  left: 717px;
  width: 230px;
  height: 462px;
}
.image-82-icon {
  top: 13px;
  left: 9px;
  border-radius: var(--br-3xs);
  width: 209px;
  height: 434px;
  object-fit: cover;
}
.image-82-parent {
  position: absolute;
  top: 4014px;
  left: 972px;
  width: 230px;
  height: 462px;
}
.icon,
.image-86-icon {
  position: absolute;
  top: 945px;
  left: 6px;
  width: 1160px;
  height: 453px;
  object-fit: cover;
}
.icon {
  top: 0;
  left: 0;
  width: 1165px;
  height: 926px;
}
.image-31-icon,
.image-86-parent {
  position: absolute;
  top: 18749px;
  left: 129px;
  width: 1166px;
  height: 1398px;
}
.image-31-icon {
  top: 51px;
  left: 0;
  width: 109px;
  height: 228px;
  object-fit: cover;
}
.flos {
  position: absolute;
  top: 0;
  left: 28px;
  line-height: 28px;
}
.image-31-parent {
  position: absolute;
  top: 5016px;
  left: 179px;
  width: 109px;
  height: 279px;
  font-size: var(--font-size-8xl);
}
.alight {
  position: absolute;
  top: 0;
  left: 89px;
  line-height: 28px;
}
.image-32-icon {
  position: absolute;
  top: 51px;
  left: 0;
  width: 244px;
  height: 224px;
  object-fit: cover;
}
.alight-parent {
  position: absolute;
  top: 5016px;
  left: 373px;
  width: 244px;
  height: 275px;
  font-size: var(--font-size-8xl);
}
.alight1 {
  position: absolute;
  top: 0;
  left: 88px;
  line-height: 28px;
}
.image-34-icon,
.image-35-icon {
  position: absolute;
  top: 32px;
  left: 7px;
  width: 234px;
  height: 179px;
  object-fit: cover;
}
.image-35-icon {
  top: 222px;
  left: 0;
  width: 249px;
  height: 124px;
}
.alight-group {
  position: absolute;
  top: 5016px;
  left: 1002px;
  width: 249px;
  height: 346px;
  font-size: var(--font-size-8xl);
}
.rhino-arc-ii {
  position: absolute;
  top: 0;
  left: 31px;
  line-height: 28px;
}
.image-36-icon {
  position: absolute;
  top: 51px;
  left: 0;
  width: 215px;
  height: 162px;
  object-fit: cover;
}
.rhino-arc-ii-parent {
  position: absolute;
  top: 5016px;
  left: 702px;
  width: 215px;
  height: 213px;
  font-size: var(--font-size-8xl);
}
.image-39-icon,
.image-42-icon {
  position: absolute;
  top: 5830px;
  left: 789px;
  width: 475px;
  height: 293px;
  object-fit: cover;
}
.image-42-icon {
  top: 8919px;
  left: 719px;
  width: 568px;
  height: 309px;
}
.image-43-icon,
.image-44-icon,
.image-45-icon,
.image-46-icon {
  position: absolute;
  top: 8921px;
  left: 138px;
  width: 568px;
  height: 307px;
  object-fit: cover;
}
.image-44-icon,
.image-45-icon,
.image-46-icon {
  top: 9345px;
}
.image-45-icon,
.image-46-icon {
  top: 9343px;
  left: 719px;
  height: 309px;
}
.image-46-icon {
  top: 9742px;
  left: 428px;
  height: 307px;
}
.configures-the-spot,
.opens-the-ia,
.selects-the-spot,
.takes-a-picture,
.visual-merchandiser-arrives {
  position: absolute;
  top: 9238px;
  left: 138px;
  font-size: var(--font-size-5xl);
  line-height: 28px;
  display: inline-block;
  width: 567px;
  height: 62px;
}
.configures-the-spot,
.opens-the-ia,
.selects-the-spot,
.takes-a-picture {
  top: 9659px;
  width: 568px;
  height: 51px;
}
.configures-the-spot,
.opens-the-ia,
.takes-a-picture {
  top: 10059px;
  left: 428px;
  height: 32px;
}
.configures-the-spot,
.opens-the-ia {
  top: 9235px;
  left: 719px;
  height: 85px;
}
.configures-the-spot {
  top: 9659px;
  left: 720px;
  width: 567px;
  height: 46px;
}
.easyaim-6-1-icon {
  position: absolute;
  top: 10512px;
  left: 134px;
  width: 1141px;
  height: 534px;
  object-fit: cover;
}
.easyaim-case-study-child20 {
  position: absolute;
  top: 15523.67px;
  left: 604.97px;
  background-color: var(--color-mistyrose-200);
  width: 337.19px;
  height: 690.12px;
  transform: rotate(-51.59deg);
  transform-origin: 0 0;
}
.designing-an-intuitive-container {
  position: absolute;
  top: 12395px;
  left: 116px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
  width: 1193px;
  height: 75px;
}
.blank-line70,
.hard-to-understand-which-arrow {
  margin: 0;
  font-size: var(--font-size-base);
}
.hard-to-understand-which-arrow {
  padding-left: var(--padding-2xl);
}
.spot-moves-as-container {
  position: absolute;
  top: 15101px;
  left: 165px;
  line-height: 28px;
  display: inline-block;
  width: 312px;
  height: 199px;
  font-size: var(--font-size-xl);
}
.precision-control-is-missing {
  margin-bottom: 5px;
}
.drag-and-move-container {
  position: absolute;
  top: 15889px;
  left: 165px;
  line-height: 28px;
  display: inline-block;
  width: 312px;
  height: 200px;
  font-size: var(--font-size-xl);
}
.drag-hold-container,
.gyroscopic-movement-feedback-container,
.spot-moves-to-container,
.tap-the-arrows-container {
  position: absolute;
  top: 15101px;
  left: 556px;
  line-height: 28px;
  display: inline-block;
  width: 312px;
  height: 203px;
  font-size: var(--font-size-xl);
}
.gyroscopic-movement-feedback-container,
.spot-moves-to-container,
.tap-the-arrows-container {
  top: 15889px;
  height: 179px;
}
.gyroscopic-movement-feedback-container,
.tap-the-arrows-container {
  left: 948px;
  height: 161px;
}
.tap-the-arrows-container {
  top: 15101px;
  left: 947px;
  white-space: pre-wrap;
  height: 215px;
}
.image-57-icon,
.p6-icon {
  position: absolute;
  top: 11997px;
  left: -497px;
  width: 326px;
  height: 600px;
  object-fit: cover;
}
.image-57-icon {
  top: 12560px;
  left: 646px;
  width: 289px;
  height: 303px;
}
.mechanical-end-stop-container {
  position: absolute;
  top: 12783px;
  left: 258px;
  font-size: var(--font-inherit);
  line-height: 28px;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 354px;
  height: 245px;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base) 0 0 var(--br-base);
  width: 226.8px;
  height: 358px;
  object-fit: cover;
}
.design-challenge2 {
  font-weight: 300;
}
.design-challenge {
  margin-block-start: 0;
  margin-block-end: 7px;
}
.developing-a-2d {
  line-height: 66px;
}
.developing-a-2d-interaction-ui {
  margin: 0;
  font-size: var(--font-size-29xl);
}
.design-challenge-developing-container {
  position: absolute;
  top: 53.83px;
  left: 28.97px;
  display: inline-block;
  width: 1071.05px;
  height: 277.89px;
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 2px;
  width: 1100.02px;
  height: 358px;
}
.group-child16,
.group-parent {
  position: absolute;
  width: 1127px;
}
.group-child16 {
  top: 1.25px;
  left: 0;
  border-radius: var(--br-base);
  background-color: transparent;
  border: 1px solid #c1c1c1;
  box-sizing: border-box;
  height: 356.75px;
}
.group-parent {
  top: 13194px;
  left: 148px;
  height: 358px;
  font-size: var(--font-size-7xl);
}
.understanding-the-luminaire {
  position: absolute;
  top: 12668px;
  left: 258px;
  font-size: var(--font-size-12xl);
  line-height: 45px;
  display: inline-block;
  width: 417px;
  height: 95px;
}
.image-61-icon {
  position: absolute;
  top: 13972px;
  left: 172px;
  width: 330px;
  height: 232px;
  object-fit: cover;
}
.image-62-icon,
.p1-20-30 {
  position: absolute;
  left: 364px;
}
.p1-20-30 {
  top: 14166px;
  font-size: 13px;
  line-height: 28px;
}
.image-62-icon {
  top: 14130px;
  width: 14px;
  height: 14px;
  object-fit: cover;
}
.image-63-icon,
.image-68-icon,
.image-69-icon {
  position: absolute;
  top: 14012px;
  left: 922px;
  width: 325px;
  height: 152px;
  object-fit: cover;
}
.image-68-icon,
.image-69-icon {
  top: 15369px;
  left: 562px;
  width: 299.14px;
  height: 517px;
}
.image-68-icon {
  top: 14581px;
  left: 165px;
  width: 301px;
}
.image-70-icon,
.image-71-icon,
.image-72-icon,
.image-73-icon {
  position: absolute;
  top: 14581px;
  left: 556px;
  width: 299.94px;
  height: 517px;
  object-fit: cover;
}
.image-71-icon,
.image-72-icon,
.image-73-icon {
  left: 945px;
  width: 301.58px;
}
.image-72-icon,
.image-73-icon {
  top: 15369px;
  left: 165px;
  width: 298.01px;
}
.image-73-icon {
  left: 948px;
  width: 298.5px;
}
.high-level-workflow {
  position: absolute;
  top: 11106px;
  left: 116px;
  letter-spacing: 0.1em;
  line-height: 33px;
  font-weight: 300;
  display: inline-block;
  width: 312px;
  height: 29px;
}
.easyaim-case-study-child21 {
  position: absolute;
  top: 11078.5px;
  left: 111.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1198px;
  height: 1px;
}
.created-a-sneak,
.option-1,
.option-2,
.to-capture-the {
  position: absolute;
  top: 11177px;
  left: 116px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  display: inline-block;
  width: 1193px;
  height: 136px;
}
.option-1,
.option-2,
.to-capture-the {
  top: 11340px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  height: 70px;
}
.option-1,
.option-2 {
  top: 11481px;
  left: 156px;
  font-size: var(--font-size-base);
  width: 492px;
  height: 43px;
}
.option-2 {
  left: 748px;
}
.easyaim-case-study-child22,
.easyaim-case-study-child23 {
  position: absolute;
  top: 11880px;
  left: 1092px;
  border-radius: 50%;
  background-color: var(--color-mistyrose-200);
  width: 198px;
  height: 198px;
}
.easyaim-case-study-child23 {
  top: 11508px;
  left: 126px;
  width: 191px;
  height: 191px;
}
.pencilsketch1-2-icon,
.s3-icon,
.whitephonebg-1-icon {
  position: absolute;
  top: 11508px;
  left: 145px;
  width: 534px;
  height: 570px;
  object-fit: cover;
}
.s3-icon,
.whitephonebg-1-icon {
  top: 57.28px;
  left: 13.14px;
  width: 189.72px;
  height: 333.2px;
}
.whitephonebg-1-icon {
  top: 0;
  left: 0;
  width: 216px;
  height: 438.83px;
}
.pan,
.pan1,
.s3-parent,
.tilt {
  position: absolute;
  top: 11574px;
  left: 748px;
  width: 216px;
  height: 438.83px;
}
.pan,
.pan1,
.tilt {
  top: 83.29px;
  left: 571.49px;
  line-height: 28px;
  display: inline-block;
  width: 41.98px;
  height: 20.99px;
}
.pan1,
.tilt {
  top: 86.67px;
  left: 201.1px;
}
.tilt {
  top: 195.01px;
  left: 67.03px;
}
.image-75-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 566.75px;
  height: 195.01px;
  object-fit: cover;
}
.tilt1 {
  position: absolute;
  top: 125.94px;
  left: 465.18px;
  line-height: 28px;
  display: inline-block;
  width: 41.98px;
  height: 20.99px;
}
.pan-parent {
  position: absolute;
  top: 16762px;
  left: 639px;
  width: 613.47px;
  height: 216px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.s4-icon {
  position: absolute;
  top: 55.18px;
  left: 12.61px;
  width: 188.67px;
  height: 335.3px;
  object-fit: cover;
}
.s4-parent {
  position: absolute;
  top: 11574px;
  left: 1008px;
  width: 216px;
  height: 438.83px;
}
.when {
  font-family: var(--font-chivo);
}
.assumptions-ui-only-container {
  position: absolute;
  top: 13954px;
  left: 595px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
  width: 279px;
  height: 312px;
}
.pan2,
.pan3,
.tilt3,
.tilt4 {
  position: absolute;
  top: 193.93px;
  left: 66.97px;
  line-height: 28px;
  display: inline-block;
  width: 43.25px;
  height: 21.62px;
}
.pan3,
.tilt3,
.tilt4 {
  left: 457.61px;
}
.tilt3,
.tilt4 {
  left: 207.18px;
}
.tilt4 {
  left: 588.75px;
}
.image-74-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 630.6px;
  height: 186.95px;
  object-fit: cover;
}
.pan-group {
  position: absolute;
  top: 16432px;
  left: 639px;
  width: 632px;
  height: 215.55px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.option-11,
.option-21 {
  left: 151px;
  font-size: var(--font-size-base);
  height: 43px;
}
.option-11 {
  position: absolute;
  top: 16482px;
  line-height: 28px;
  display: inline-block;
  width: 492px;
}
.option-21 {
  top: 16812px;
  width: 172px;
}
.option-21,
.the-first-version,
.we-invited-a {
  position: absolute;
  line-height: 28px;
  display: inline-block;
}
.we-invited-a {
  top: 17792px;
  left: 115px;
  font-size: var(--font-size-lg);
  width: 1167px;
  height: 74px;
}
.the-first-version {
  top: 18377px;
  left: 211px;
  width: 983px;
  height: 31px;
}
.when-we-began {
  line-height: 28px;
}
.when-we-began-working-on-this {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.iterate-relentlessly,
.some-design-decisions {
  font-size: var(--font-size-xl);
  font-family: var(--font-chivo);
}
.some-design-decisions {
  font-size: var(--font-size-lg);
}
.you-didnt-fail-you-just-foun {
  line-height: 30px;
}
.iterate-relentlessly-during-t {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.when-we-began-container {
  position: absolute;
  top: 21199px;
  left: 116px;
  display: inline-block;
  width: 1217px;
  height: 496px;
  font-size: var(--font-size-lg);
}
.image-80-icon {
  position: absolute;
  top: 13px;
  left: 10px;
  border-radius: var(--br-3xl);
  width: 208px;
  height: 435px;
  object-fit: cover;
}
.image-80-parent {
  position: absolute;
  top: 3453px;
  left: 280px;
  width: 230px;
  height: 462px;
}
.easyaimwheel-1-icon,
.image-83-icon,
.image-84-icon {
  position: absolute;
  top: 17081px;
  left: 975px;
  width: 334px;
  height: 383px;
  object-fit: cover;
}
.image-83-icon,
.image-84-icon {
  top: 17064px;
  left: 645px;
  width: 223px;
}
.image-84-icon {
  top: 17257px;
  left: 931px;
  width: 52px;
  height: 43px;
}
.ezgif-1-icon,
.image-76-icon,
.image-77-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: 455px;
  object-fit: cover;
}
.ezgif-1-icon,
.image-77-icon {
  left: 336px;
  width: 341px;
}
.ezgif-1-icon {
  left: 683px;
  width: 319px;
  height: 457px;
}
.image-76-parent {
  position: absolute;
  top: 17893px;
  left: 211px;
  width: 1002px;
  height: 457px;
}
.image-17-group,
.image-80-group,
.image-87-icon {
  position: absolute;
  top: 20429px;
  left: 360px;
  width: 230px;
  height: 462px;
}
.image-17-group,
.image-87-icon {
  left: 124px;
}
.image-87-icon {
  top: 15px;
  left: 11px;
  border-radius: var(--br-smi);
  width: 208px;
  height: 432px;
  object-fit: cover;
}
.image-87-parent {
  position: absolute;
  top: 20429px;
  left: 1069px;
  width: 230px;
  height: 462px;
}
.image-16-container,
.image-18-group,
.image-89-icon2 {
  position: absolute;
  top: 20429px;
  left: 596px;
  width: 231px;
  height: 462px;
}
.image-18-group,
.image-89-icon2 {
  left: 833px;
  width: 230px;
}
.image-89-icon2 {
  top: 20472px;
  left: 621px;
  width: 33px;
  height: 8px;
  object-fit: cover;
}
.user-interviews {
  position: absolute;
  top: 7681px;
  left: 123px;
  letter-spacing: 0.1em;
  line-height: 33px;
  font-weight: 300;
  display: inline-block;
  width: 146px;
}
.easyaim-case-study-child24 {
  position: absolute;
  top: 7643.5px;
  left: 122.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1193px;
  height: 1px;
}
.after-brainstorming-the-container {
  position: absolute;
  top: 7898px;
  left: 123px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
  width: 1192px;
  height: 116px;
}
.my-interviewees-were,
.research-questions-how-container {
  position: absolute;
  top: 7762px;
  left: 123px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  display: inline-block;
  width: 1176px;
  height: 136px;
}
.research-questions-how-container {
  top: 8040px;
  left: 734px;
  font-size: var(--font-inherit);
  line-height: 28px;
  font-family: var(--font-inherit);
  width: 616px;
  height: 408px;
}
.easyaim-case-study-child25 {
  position: absolute;
  top: 8033px;
  left: 591.99px;
  background-color: var(--color-mistyrose-200);
  width: 227.05px;
  height: 496.61px;
  transform: rotate(60deg);
  transform-origin: 0 0;
}
.image-88-icon1 {
  position: absolute;
  top: 8140px;
  left: 129px;
  width: 567px;
  height: 241px;
  object-fit: cover;
}
.easyaim-case-study-child26,
.easyaim-case-study-child27 {
  position: absolute;
  top: 6967px;
  left: 123px;
  border-radius: 50%;
  background-color: var(--color-mistyrose-200);
  width: 312px;
  height: 312px;
}
.easyaim-case-study-child27 {
  top: 7295px;
  left: 1038px;
}
.personas1 {
  position: absolute;
  top: 6347px;
  left: 123px;
  letter-spacing: 0.1em;
  line-height: 33px;
  font-weight: 300;
  display: inline-block;
  width: 84px;
}
.easyaim-case-study-child28 {
  position: absolute;
  top: 6309.5px;
  left: 122.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1193px;
  height: 1px;
}
.being-located-remotely-container,
.the-data-gathered {
  position: absolute;
  top: 6666px;
  left: 189px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
  width: 416px;
  height: 256px;
}
.the-data-gathered {
  top: 6419px;
  left: 123px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  width: 1247px;
  height: 201px;
}
.gettyimages-1229319543-612x612-icon {
  position: absolute;
  top: calc(50% - 4098px);
  left: calc(50% + 297px);
  border-radius: var(--br-5xs);
  width: 325px;
  height: 216px;
  object-fit: cover;
}
.screenshot-2018-11-24-at-629,
.screenshot-2018-11-24-at-644 {
  position: absolute;
  top: 7081px;
  left: 117px;
  border-radius: var(--br-3xs);
  width: 583px;
  height: 441px;
  object-fit: cover;
}
.screenshot-2018-11-24-at-644 {
  top: -3px;
  left: -6px;
  width: 584px;
  height: 440px;
}
.image-85-icon {
  position: absolute;
  top: 172px;
  left: 123px;
  width: 67px;
  height: 22px;
  object-fit: cover;
}
.screenshot-2018-11-24-at-644-parent {
  position: absolute;
  top: 7085px;
  left: 778px;
  width: 572px;
  height: 428px;
}
.image-58-icon,
.ml-logo-1-icon2 {
  position: absolute;
  object-fit: cover;
}
.image-58-icon {
  top: 6617px;
  left: 761px;
  border-radius: var(--br-5xs);
  width: 343px;
  height: 256px;
}
.ml-logo-1-icon2 {
  top: 56px;
  left: 80px;
  width: 82px;
  height: 86px;
  cursor: pointer;
}
.easyaim-case-study-child29 {
  position: absolute;
  top: 108px;
  left: 1082px;
  background-color: var(--color-burlywood-100);
  width: 78px;
  height: 5px;
}
.about-me2,
.my-skill-set1,
.portfolio2,
.resume1 {
  position: absolute;
  top: 85px;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.about-me2 {
  left: 633px;
  font-weight: 500;
  width: 120px;
}
.my-skill-set1,
.portfolio2,
.resume1 {
  left: 837px;
  width: 155px;
}
.portfolio2,
.resume1 {
  left: 1076px;
  width: 90px;
}
.resume1 {
  left: 1250px;
  width: 120px;
}
.easyaim,
.portfolio3 {
  position: absolute;
  top: 187px;
  font-size: var(--font-size-base);
  line-height: 33px;
}
.portfolio3 {
  left: 79px;
  font-weight: 300;
  cursor: pointer;
}
.easyaim {
  left: 178px;
}
.chevron-1-icon1 {
  position: absolute;
  top: 199px;
  left: 158px;
  width: 7px;
  height: 9px;
  object-fit: cover;
}
.go-to-top1 {
  position: absolute;
  top: 21813px;
  left: 74px;
  width: 83.88px;
  height: 18.49px;
  cursor: pointer;
}
.group-child17 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-14xl);
  background-color: var(--color-burlywood-200);
  width: 316px;
  height: 45px;
}
.view-next-project1 {
  position: absolute;
  top: 17px;
  left: 16px;
  line-height: 36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 284px;
  height: 12px;
}
.rectangle-parent2 {
  position: absolute;
  top: 21799px;
  left: 1064px;
  width: 316px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.easyaim-case-study {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 21908px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-chivo);
}
