.interactpro-child {
  position: absolute;
  top: 698px;
  left: -9px;
  background-color: var(--color-white);
  box-shadow: 0 0 12px rgba(166, 166, 166, 0.15);
  width: 1458px;
  height: 7152px;
}
.the-current-implementation {
  position: absolute;
  top: 982px;
  left: 82px;
  line-height: 30px;
  display: inline-block;
  width: 702px;
  height: 123px;
}
.what-are-the {
  margin: 0;
}
.lack-of-preparation {
  margin-bottom: 0;
}
.lack-of-preparation-work-befor {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.what-are-the-container {
  position: absolute;
  top: 1547px;
  left: 643px;
  font-size: var(--font-inherit);
  line-height: 40px;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 641px;
  height: 283px;
}
.iap-4-1-icon {
  position: absolute;
  top: 1483px;
  left: 179px;
  width: 346px;
  height: 386px;
  object-fit: cover;
}
.how-can-we,
.rapidly-compiled-a,
.user-stories-were {
  position: absolute;
  top: 1181px;
  left: 82px;
  line-height: 30px;
  display: inline-block;
  width: 722px;
  height: 111px;
}
.rapidly-compiled-a,
.user-stories-were {
  top: 2055px;
  width: 1163px;
  height: 100px;
}
.user-stories-were {
  top: 3520px;
  width: 549px;
  height: 249px;
}
.activity-innovation-market-container,
.activity-workshopfeedback-se-container {
  position: absolute;
  top: 6034px;
  left: 84px;
  font-size: var(--font-inherit);
  line-height: 30px;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 660px;
  height: 266px;
}
.activity-workshopfeedback-se-container {
  top: 6447px;
  left: 757px;
  width: 549px;
  height: 400px;
}
.case-study,
.problem-statement,
.projecttopic-context {
  position: absolute;
  top: 785px;
  left: 82px;
  font-size: var(--font-size-5xl);
  line-height: 22px;
  display: inline-block;
  width: 505px;
}
.problem-statement,
.projecttopic-context {
  top: 945px;
}
.problem-statement {
  top: 1144px;
}
.iap-3-1-icon {
  position: absolute;
  top: 874px;
  left: 921px;
  width: 222px;
  height: 408px;
  object-fit: cover;
}
.improve-registration-flow {
  position: absolute;
  top: 822px;
  left: 82px;
  font-size: var(--font-size-29xl);
  line-height: 22px;
  display: inline-block;
  width: 702px;
  height: 50px;
}
.drafting-the-research {
  top: 2000px;
  left: 82px;
  font-size: var(--font-size-5xl);
}
.drafting-the-research,
.first-improvement-of,
.making-it-to {
  position: absolute;
  line-height: 22px;
  display: inline-block;
  width: 505px;
}
.making-it-to {
  top: 3439px;
  left: 82px;
  font-size: var(--font-size-5xl);
}
.first-improvement-of {
  top: 4053px;
}
.first-improvement-of,
.make-it-look,
.test-and-learn {
  left: 82px;
  font-size: var(--font-size-5xl);
}
.test-and-learn {
  position: absolute;
  top: 5872px;
  line-height: 22px;
  display: inline-block;
  width: 505px;
}
.make-it-look {
  top: 6951px;
}
.connect-with-the,
.first-improvement-of1,
.make-it-look {
  position: absolute;
  line-height: 22px;
  display: inline-block;
  width: 505px;
}
.connect-with-the {
  top: 5953px;
  left: 82px;
  font-size: var(--font-size-5xl);
}
.first-improvement-of1 {
  top: 4755px;
  left: 622px;
}
.help-user-with,
.invite-service-provider,
.ux-research-input {
  position: absolute;
  top: 5563px;
  left: 824px;
  line-height: 22px;
  display: inline-block;
  width: 303px;
}
.help-user-with,
.ux-research-input {
  top: 5171px;
  left: 619px;
  width: 313px;
}
.ux-research-input {
  top: 1393px;
  left: 82px;
  font-size: var(--font-size-5xl);
  width: 505px;
}
.download-android-1-icon2,
.iap-5-icon,
.iap-6-icon {
  position: absolute;
  top: 195px;
  left: 1187px;
  width: 76px;
  height: 25px;
  object-fit: cover;
}
.iap-5-icon,
.iap-6-icon {
  top: 0;
  left: 0;
  width: 1106px;
  height: 554px;
}
.iap-6-icon {
  top: 638px;
  left: 79px;
  width: 1024px;
  height: 557px;
}
.iap-5 {
  position: absolute;
  top: 2175px;
  left: 167px;
  width: 1106px;
  height: 1195px;
}
.iap-7-icon,
.iap-8-icon,
.iap-9-icon {
  position: absolute;
  top: 3439px;
  left: 655px;
  width: 673px;
  height: 541px;
  object-fit: cover;
}
.iap-8-icon,
.iap-9-icon {
  top: 4134px;
  left: 145px;
  width: 1150px;
  height: 394px;
}
.iap-9-icon {
  top: 4606px;
  width: 449px;
  height: 342px;
}
.iap-10-icon,
.iap-11-icon,
.iap-12-icon,
.iap-13-icon {
  position: absolute;
  top: 4983px;
  left: 159px;
  width: 435px;
  height: 397px;
  object-fit: cover;
}
.iap-11-icon,
.iap-12-icon,
.iap-13-icon {
  top: 5415px;
  width: 648px;
  height: 329px;
}
.iap-12-icon,
.iap-13-icon {
  top: 5955px;
  left: 824px;
  width: 362px;
  height: 408px;
}
.iap-13-icon {
  top: 6415px;
  left: 216px;
}
.iap-14-icon,
.iap-15-icon,
.iap-16-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 289px;
  height: 509px;
  object-fit: cover;
}
.iap-15-icon,
.iap-16-icon {
  top: 1px;
  left: 378px;
  width: 287px;
  height: 508px;
}
.iap-16-icon {
  top: 0;
  left: 754px;
  width: 288px;
  height: 509px;
}
.iap-14,
.interact-pro {
  position: absolute;
  top: 7072px;
  left: 199px;
  width: 1042px;
  height: 509px;
}
.interact-pro {
  top: 651px;
  left: 82px;
  font-size: var(--font-size-61xl);
  line-height: 36px;
  display: inline-block;
  color: var(--color-burlywood-100);
  width: 566px;
  height: 70px;
}
.download-mac-2-icon2,
.ml-logo-1-icon4 {
  position: absolute;
  top: 191px;
  left: 1270px;
  width: 73px;
  height: 30px;
  object-fit: cover;
}
.ml-logo-1-icon4 {
  top: 56px;
  left: 80px;
  width: 82px;
  height: 86px;
  cursor: pointer;
}
.iap-1-1-icon,
.mac-bg-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 743px;
  height: 435px;
  object-fit: cover;
}
.iap-1-1-icon {
  top: 28px;
  left: 88px;
  width: 567px;
  height: 355px;
}
.mac-bg-1-parent {
  position: absolute;
  top: 0;
  left: 50px;
  width: 743px;
  height: 435px;
}
.iap-2-2-icon,
.mobile-bg-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 147px;
  height: 270px;
  object-fit: cover;
}
.iap-2-2-icon {
  top: 26px;
  left: 15px;
  width: 120px;
  height: 212px;
}
.mobile-bg-1-parent {
  position: absolute;
  top: 165px;
  left: 0;
  width: 147px;
  height: 270px;
}
.interactpro-header {
  position: absolute;
  top: 256px;
  left: 587px;
  width: 793px;
  height: 435px;
}
.interact-pro1,
.portfolio6 {
  position: absolute;
  top: 187px;
  font-size: var(--font-size-base);
  line-height: 33px;
  font-family: var(--font-chivo);
}
.portfolio6 {
  left: 79px;
  font-weight: 300;
  cursor: pointer;
}
.interact-pro1 {
  left: 178px;
}
.chevron-1-icon3 {
  position: absolute;
  top: 199px;
  left: 158px;
  width: 7px;
  height: 9px;
  object-fit: cover;
}
.interactpro-item {
  position: absolute;
  top: 108px;
  left: 1082px;
  background-color: var(--color-burlywood-100);
  width: 78px;
  height: 5px;
}
.about-me4,
.my-skill-set3,
.portfolio7,
.resume3 {
  position: absolute;
  top: 85px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.about-me4 {
  left: 633px;
  font-weight: 500;
  width: 120px;
}
.my-skill-set3,
.portfolio7,
.resume3 {
  left: 837px;
  width: 155px;
}
.portfolio7,
.resume3 {
  left: 1076px;
  width: 90px;
}
.resume3 {
  left: 1250px;
  width: 120px;
}
.group-child19 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-14xl);
  background-color: var(--color-burlywood-200);
  width: 316px;
  height: 45px;
}
.view-next-project3 {
  position: absolute;
  top: 17px;
  left: 32px;
  line-height: 36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 12px;
}
.go-to-top3,
.rectangle-parent4 {
  position: absolute;
  cursor: pointer;
}
.rectangle-parent4 {
  top: 7707px;
  left: 1032px;
  width: 316px;
  height: 45px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.go-to-top3 {
  top: 7706px;
  left: 115px;
  width: 83.88px;
  height: 18.49px;
}
.interactpro {
  position: relative;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 7850px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
