.philipshue-child {
  position: absolute;
  top: 693px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 12px rgba(166, 166, 166, 0.15);
  width: 1440px;
  height: 3313px;
}
.the-philips-hue {
  margin: 0;
}
.the-philips-hue-container {
  position: absolute;
  top: 984px;
  left: 88px;
  line-height: 30px;
  display: inline-block;
  width: 665px;
  height: 371px;
}
.during-the-interviews-container,
.i-conducted-remote-container,
.personas-and-profiles {
  position: absolute;
  top: 1621px;
  left: 88px;
  line-height: 30px;
  display: inline-block;
  width: 665px;
  height: 200px;
}
.during-the-interviews-container,
.personas-and-profiles {
  top: 2029px;
  width: 1199px;
  height: 359px;
}
.personas-and-profiles {
  top: 2988px;
  left: 87px;
  width: 1150px;
  height: 134px;
}
.composting-the-data,
.drafting-the-problem,
.user-interviews2,
.user-journey-and {
  position: absolute;
  top: 938px;
  left: 88px;
  font-size: var(--font-size-5xl);
  line-height: 22px;
  display: inline-block;
  width: 505px;
}
.composting-the-data,
.user-interviews2,
.user-journey-and {
  top: 1445px;
}
.composting-the-data,
.user-journey-and {
  top: 1974px;
}
.user-journey-and {
  top: 2933px;
  left: 87px;
}
.interact-pro-2-2 {
  position: absolute;
  top: 61px;
  left: 214px;
  width: 192px;
  height: 357px;
  object-fit: cover;
}
.mobile-bg-1-icon3 {
  object-fit: cover;
}
.mobile-bg-1-frame,
.mobile-bg-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 423px;
}
.screenshot-2021-06-03-at-108 {
  position: absolute;
  top: 41px;
  left: 22px;
  border-radius: var(--br-10xs);
  width: 188px;
  height: 331px;
  object-fit: cover;
}
.philipshue-header {
  position: absolute;
  top: 275px;
  left: 694px;
  width: 406px;
  height: 423px;
}
.case-study1,
.improve-scene-management {
  position: absolute;
  top: 787px;
  left: 88px;
  font-size: var(--font-size-5xl);
  line-height: 22px;
  display: inline-block;
  width: 505px;
}
.improve-scene-management {
  top: 824px;
  font-size: var(--font-size-29xl);
  width: 702px;
  height: 50px;
}
.hue-1-icon,
.hue3-1-icon {
  position: absolute;
  top: 1504px;
  left: 872px;
  width: 415px;
  height: 350px;
  object-fit: cover;
}
.hue3-1-icon {
  top: 2445px;
  left: 119px;
  width: 1150px;
  height: 377px;
}
.download-android-1-icon4,
.download-mac-2-icon4 {
  position: absolute;
  top: 195px;
  left: 1187px;
  width: 76px;
  height: 25px;
  object-fit: cover;
}
.download-mac-2-icon4 {
  top: 191px;
  left: 1270px;
  width: 73px;
  height: 30px;
}
.philips-hue {
  position: absolute;
  top: 622px;
  left: 82px;
  font-size: var(--font-size-61xl);
  line-height: 88px;
  display: inline-block;
  color: var(--color-burlywood-100);
  width: 527px;
  height: 69px;
}
.ml-logo-1-icon6 {
  position: absolute;
  top: 56px;
  left: 80px;
  width: 82px;
  height: 86px;
  object-fit: cover;
  cursor: pointer;
}
.hue1-1-icon,
.mobile-bg-2-icon2 {
  position: absolute;
  top: 0;
  left: 814px;
  width: 336px;
  height: 618px;
  object-fit: cover;
}
.hue1-1-icon {
  top: 60px;
  left: 849px;
  border-radius: var(--br-11xs);
  width: 275px;
  height: 485px;
}
.hue4-icon,
.hue5-icon,
.hue6-icon {
  position: absolute;
  top: 28px;
  left: 285px;
  width: 192px;
  height: 368px;
  object-fit: cover;
}
.hue4-icon,
.hue6-icon {
  left: 0;
  width: 195px;
  height: 590px;
}
.hue4-icon {
  top: 27px;
  left: 572px;
  width: 175px;
  height: 368px;
}
.hue-4,
.hue2-1-icon {
  position: absolute;
  top: 3137px;
  left: 119px;
  width: 1150px;
  height: 618px;
}
.hue2-1-icon {
  top: 41px;
  left: 23px;
  width: 192px;
  height: 331px;
  object-fit: cover;
}
.go-to-top5,
.mobile-bg-3-parent {
  position: absolute;
  top: 932px;
  left: 867px;
  width: 230px;
  height: 423px;
}
.go-to-top5 {
  top: 3878px;
  left: 103px;
  width: 83.88px;
  height: 18.49px;
  cursor: pointer;
}
.group-child20 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-14xl);
  background-color: var(--color-burlywood-200);
  width: 316px;
  height: 45px;
}
.view-next-project4 {
  position: absolute;
  top: 17px;
  left: 32px;
  line-height: 36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 12px;
}
.philips-hue1,
.portfolio10,
.rectangle-parent5 {
  position: absolute;
  font-size: var(--font-size-base);
}
.rectangle-parent5 {
  top: 3868px;
  left: 1020px;
  width: 316px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  color: var(--color-white);
}
.philips-hue1,
.portfolio10 {
  top: 187px;
  line-height: 33px;
  font-family: var(--font-chivo);
}
.portfolio10 {
  left: 79px;
  font-weight: 300;
  cursor: pointer;
}
.philips-hue1 {
  left: 178px;
}
.chevron-1-icon5 {
  position: absolute;
  top: 199px;
  left: 158px;
  width: 7px;
  height: 9px;
  object-fit: cover;
}
.about-me6,
.my-skill-set5,
.portfolio11,
.resume5 {
  position: absolute;
  top: 85px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.about-me6 {
  left: 633px;
  font-weight: 500;
  width: 120px;
}
.my-skill-set5,
.portfolio11,
.resume5 {
  left: 837px;
  width: 155px;
}
.portfolio11,
.resume5 {
  left: 1076px;
  width: 90px;
}
.resume5 {
  left: 1250px;
  width: 120px;
}
.philipshue-item {
  position: absolute;
  top: 108px;
  left: 1082px;
  background-color: var(--color-burlywood-100);
  width: 78px;
  height: 5px;
}
.philipshue {
  position: relative;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 4006px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
