.portfolio-child,
.portfolio-item {
  position: absolute;
  top: 871px;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-white);
  box-shadow: 0 0 12px rgba(166, 166, 166, 0.15);
  width: 1440px;
  height: 618px;
}
.portfolio-item {
  top: 197px;
}
.collaboratively-designed-with,
.i-took-on {
  position: absolute;
  top: 1036px;
  left: 120px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  width: 601px;
  height: 72px;
}
.i-took-on {
  top: 344px;
  left: 724px;
  width: 657px;
  height: 144px;
}
.role {
  margin: 0;
  line-height: 22px;
}
.mentor-and-guide {
  line-height: 28px;
}
.user-research-explorations-an {
  margin-bottom: 0;
}
.mentor-and-guide-a-team-of-2-u {
  margin: 0;
  padding-left: var(--padding-2xl);
}
.role-lead-designer-container,
.role-senior-manager-container {
  position: absolute;
  top: 1143px;
  left: 117px;
  font-size: var(--font-inherit);
  font-weight: 300;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 600px;
  height: 205px;
}
.role-senior-manager-container {
  top: 488px;
  left: 721px;
}
.easyaim-11-1-icon {
  position: absolute;
  top: 1025px;
  left: 872px;
  width: 207px;
  height: 370px;
  object-fit: cover;
}
.image-2-icon,
.image-2-wrapper {
  position: absolute;
  width: 213.75px;
  height: 437px;
}
.image-2-icon {
  top: 0;
  left: 0;
  object-fit: cover;
}
.image-2-wrapper {
  top: 961px;
  left: 1034.18px;
}
.career-architecture-framework,
.interact-retail-easyaim {
  position: absolute;
  top: 961px;
  left: 120px;
  font-size: var(--font-size-13xl);
  line-height: 36px;
}
.career-architecture-framework {
  top: 287px;
  left: 724px;
}
.ml-logo-1-icon {
  position: absolute;
  top: 56px;
  left: 80px;
  width: 82px;
  height: 86px;
  object-fit: cover;
  cursor: pointer;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-14xl);
  background-color: var(--color-burlywood-200);
  width: 168px;
  height: 38px;
}
.read-full-case {
  position: absolute;
  top: 0;
  left: 21px;
  line-height: 36px;
  font-weight: 600;
  display: inline-block;
  width: 134px;
  height: 20px;
}
.rectangle-container,
.rectangle-group {
  position: absolute;
  top: 1341px;
  left: 117px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
  width: 168px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  border-radius: 20px;
}
.rectangle-container {
  top: 714px;
  left: 721px;
}
.portfolio-inner {
  position: absolute;
  top: 108px;
  left: 1082px;
  background-color: var(--color-burlywood-100);
  width: 78px;
  height: 5px;
}
.about-me1 {
  left: 633px;
  font-weight: 500;
  width: 120px;
  cursor: pointer;
}
.about-me1,
.my-skill-set1,
.portfolio2,
.resume1 {
  position: absolute;
  top: 85px;
  text-align: center;
  display: inline-block;
}
.my-skill-set1 {
  left: 837px;
  width: 155px;
  cursor: pointer;
}
.portfolio2,
.resume1 {
  left: 1076px;
  width: 90px;
}
.resume1 {
  left: 1250px;
  width: 120px;
  cursor: pointer;
}
.rectangle-div {
  position: absolute;
  top: 1528px;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-white);
  box-shadow: 0 0 12px rgba(166, 166, 166, 0.15);
  width: 1440px;
  height: 618px;
}
.interact-retail-hq {
  position: absolute;
  top: 1615px;
  left: 720px;
  font-size: var(--font-size-13xl);
  line-height: 36px;
}
.transform-retail-spaces {
  position: absolute;
  top: 1685px;
  left: 720px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  width: 686px;
  height: 129px;
}
.image-4-icon,
.screenshot-2021-06-02-at-1143 {
  position: absolute;
  top: 0;
  left: 0;
  width: 563.84px;
  height: 330px;
  object-fit: cover;
}
.screenshot-2021-06-02-at-1143 {
  top: 20.76px;
  left: 65.56px;
  width: 431.62px;
  height: 270.99px;
}
.group-child1,
.image-4-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 563.84px;
  height: 330px;
}
.group-child1 {
  top: 5.32px;
  left: 135.11px;
  background-color: var(--color-white);
  width: 297.88px;
  height: 264.9px;
}
.retail-install-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 432.99px;
  height: 270.22px;
  object-fit: cover;
}
.group-div,
.group-parent {
  position: absolute;
  top: 21.28px;
  left: 64.89px;
  width: 432.99px;
  height: 270.22px;
}
.group-parent {
  top: 1674px;
  left: 80px;
  width: 563.84px;
  height: 330px;
}
.role-lead-designer-container1 {
  position: absolute;
  top: 1840px;
  left: 720px;
  font-size: var(--font-inherit);
  font-weight: 300;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 626px;
  height: 168px;
}
.rectangle-parent1 {
  position: absolute;
  top: 2042px;
  left: 717px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
  width: 168px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  border-radius: 20px
}
.portfolio-child1 {
  position: absolute;
  top: 2189px;
  left: 1px;
  border-radius: var(--br-smi);
  background-color: var(--color-white);
  box-shadow: 0 0 12px rgba(166, 166, 166, 0.15);
  width: 1440px;
  height: 618px;
}
.role-lead-designer-container2,
.the-application-empowers {
  position: absolute;
  left: 121px;
  font-weight: 300;
  display: inline-block;
  width: 600px;
}
.the-application-empowers {
  top: 2348px;
  line-height: 26px;
  height: 166px;
}
.role-lead-designer-container2 {
  top: 2543px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  height: 139px;
}
.image-4-icon1,
.screenshot-2021-06-02-at-11431 {
  position: absolute;
  top: 0;
  left: 0;
  width: 530px;
  height: 310.19px;
  object-fit: cover;
}
.screenshot-2021-06-02-at-11431 {
  top: 19.52px;
  left: 61.63px;
  width: 405.72px;
  height: 254.73px;
}
.image-4-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 530px;
  height: 310.19px;
}
.iap-2-2-icon,
.image-5-icon {
  position: absolute;
  top: 98.46px;
  left: 464px;
  width: 103.24px;
  height: 211.06px;
  object-fit: cover;
}
.iap-2-2-icon {
  top: 119px;
  left: 468px;
  width: 95px;
  height: 168px;
}
.group-container {
  position: absolute;
  top: 2342px;
  left: 779px;
  width: 567.24px;
  height: 310.19px;
}
.interact-pro-2018 {
  position: absolute;
  top: 2279px;
  left: 121px;
  font-size: var(--font-size-13xl);
  line-height: 36px;
}
.rectangle-parent2 {
  position: absolute;
  top: 2711px;
  left: 121px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
  width: 168px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  border-radius: 20px
}
.portfolio-child2 {
  position: absolute;
  top: 2850px;
  left: 1px;
  border-radius: var(--br-smi);
  background-color: var(--color-white);
  box-shadow: 0 0 12px rgba(166, 166, 166, 0.15);
  width: 1440px;
  height: 618px;
}
.philips-hue-2019 {
  position: absolute;
  top: 2937px;
  left: 717px;
  font-size: var(--font-size-13xl);
  line-height: 36px;
}
.interact-pro-2-1 {
  position: absolute;
  top: 66.34px;
  left: 0;
  width: 194.89px;
  height: 362.13px;
  object-fit: cover;
}
.image-2-icon1,
.screenshot-2021-06-03-at-108 {
  position: absolute;
  top: 0;
  left: 0;
  width: 209.49px;
  height: 428.29px;
  object-fit: cover;
}
.screenshot-2021-06-03-at-108 {
  top: 41.47px;
  left: 8.29px;
  border-radius: var(--br-10xs);
  width: 192.12px;
  height: 341.4px;
}
.image-2-parent {
  position: absolute;
  top: 0;
  left: 146.51px;
  width: 209.49px;
  height: 428.29px;
}
.interact-pro-2-1-parent,
.portfolio-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 356px;
  height: 428.47px;
}
.portfolio-inner1 {
  top: 2937px;
  left: 223px;
}
.effortlessly-arrange-individua,
.role-senior-designer-container {
  position: absolute;
  left: 721px;
  font-weight: 300;
  display: inline-block;
  width: 600px;
}
.role-senior-designer-container {
  top: 3184px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  height: 139px;
}
.effortlessly-arrange-individua {
  top: 3018px;
  line-height: 26px;
  height: 166px;
}
.rectangle-parent3 {
  position: absolute;
  top: 3346px;
  left: 721px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
  width: 168px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  border-radius: 20px
}
.portfolio-child3,
.portfolio-child4 {
  position: absolute;
  top: 3511px;
  left: -1px;
  border-radius: var(--br-smi);
  background-color: var(--color-white);
  box-shadow: 0 0 12px rgba(166, 166, 166, 0.15);
  width: 1440px;
  height: 618px;
}
.portfolio-child4 {
  top: 4174px;
}
.role-senior-designer-container1 {
  position: absolute;
  top: 3882px;
  left: 121px;
  font-size: var(--font-inherit);
  font-weight: 300;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 600px;
  height: 139px;
}
.dynalite-control-2017 {
  position: absolute;
  top: 3598px;
  left: 121px;
  font-size: var(--font-size-13xl);
  line-height: 36px;
}
.the-philips-dynalite {
  position: absolute;
  top: 3677px;
  left: 121px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  width: 541px;
}
.image-7-icon,
.screenshot-2021-06-03-at-1219 {
  position: absolute;
  top: 0;
  left: 0;
  width: 457.95px;
  height: 361px;
  object-fit: cover;
}
.image-7-icon {
  top: 66.33px;
  left: 423.51px;
  width: 144.14px;
  height: 294.67px;
}
.screenshot-2021-06-03-at-1219-parent {
  position: absolute;
  top: 3647px;
  left: 780px;
  width: 567.65px;
  height: 361px;
}
.service-tag-2016 {
  position: absolute;
  top: 4259px;
  left: 717px;
  font-size: var(--font-size-13xl);
  line-height: 36px;
}
.role-senior-designer-container2 {
  position: absolute;
  top: 4524px;
  left: 720px;
  font-size: var(--font-inherit);
  font-weight: 300;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 600px;
  height: 139px;
}
.the-legendary-application {
  position: absolute;
  top: 4333px;
  left: 721px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  width: 662px;
  height: 191px;
}
.rectangle-parent4 {
  position: absolute;
  top: 4044px;
  left: 121px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
  width: 168px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  border-radius: 20px
}
.screenshot-2021-06-05-at-1231 {
  position: absolute;
  top: 64.46px;
  left: 0;
  width: 200.25px;
  height: 357.98px;
  object-fit: cover;
}
.image-2-icon2,
.screenshot-2021-06-04-at-1258 {
  position: absolute;
  top: 0;
  left: 0;
  width: 207.88px;
  height: 425px;
  object-fit: cover;
}
.screenshot-2021-06-04-at-1258 {
  top: 41.58px;
  left: 8.08px;
  width: 191.71px;
  height: 336.07px;
}
.image-2-group {
  position: absolute;
  top: 0;
  left: 133.04px;
  width: 207.88px;
  height: 425px;
}
.screenshot-2021-06-03-at-137 {
  position: absolute;
  top: 41.15px;
  left: 141.27px;
  width: 192.02px;
  height: 337.4px;
  object-fit: cover;
}
.screenshot-2021-06-05-at-1231-parent {
  position: absolute;
  top: 4275px;
  left: 208px;
  width: 340.92px;
  height: 425px;
}
.rectangle-parent5 {
  position: absolute;
  top: 4681px;
  left: 717px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
  width: 168px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  border-radius: 20px
}
.self-growth-and-personal-devel-icon {
  position: absolute;
  top: 226px;
  left: 43px;
  width: 650px;
  height: 525px;
  object-fit: cover;
}
.target-bullseye-logo-red-trans-icon {
  position: absolute;
  top: 367px;
  left: 541px;
  width: 67px;
  height: 67px;
  object-fit: cover;
}
.portfolio1 {
  position: relative;
  background-color: #f4f6f6;
  width: 100%;
  height: 4868px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
