.dyn2-icon,
.mobile-bg-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 147px;
  height: 270px;
  object-fit: cover;
}
.dyn2-icon {
  top: 25px;
  left: 15px;
  border-radius: var(--br-10xs);
  width: 120px;
  height: 214px;
}
.mobile-bg-2-parent {
  position: absolute;
  top: 424px;
  left: 3499px;
  width: 147px;
  height: 270px;
}
.interactretailhq-child {
  position: absolute;
  top: 695px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 12px rgba(166, 166, 166, 0.15);
  width: 1440px;
  height: 4605px;
}
.based-on-the,
.co-creative-design-doing,
.helped-us-to {
  position: absolute;
  top: 1566px;
  left: 685px;
  line-height: 30px;
  display: inline-block;
  width: 550px;
  height: 84px;
}
.co-creative-design-doing,
.helped-us-to {
  top: 2403px;
  left: 88px;
  width: 542px;
  height: 208px;
}
.helped-us-to {
  top: 3027px;
  width: 788px;
  height: 51px;
}
.it-provides-various {
  margin: 0;
}
.it-provides-various-container {
  position: absolute;
  top: 875px;
  left: 88px;
  line-height: 30px;
  display: inline-block;
  width: 630px;
  height: 411px;
}
.co-create-design-doing-container,
.the-big-picture {
  position: absolute;
  top: 1492px;
  left: 88px;
  font-size: var(--font-size-5xl);
  line-height: 22px;
  display: inline-block;
  width: 702px;
  height: 50px;
}
.co-create-design-doing-container {
  top: 2353px;
  width: 523px;
}
.to-be-user-journey-container,
.what-can-it-container,
.wireframing {
  position: absolute;
  top: 2977px;
  left: 88px;
  font-size: var(--font-size-5xl);
  line-height: 22px;
}
.what-can-it-container,
.wireframing {
  top: 4323px;
  display: inline-block;
  width: 523px;
  height: 50px;
}
.what-can-it-container {
  top: 801px;
  width: 702px;
}
.hq1-1-icon,
.hq4-1-icon,
.hq5-1-icon {
  position: absolute;
  top: 851px;
  left: 811px;
  width: 475px;
  height: 583px;
  object-fit: cover;
}
.hq4-1-icon,
.hq5-1-icon {
  top: 2403px;
  left: 693px;
  width: 542px;
  height: 523px;
}
.hq5-1-icon {
  top: 0;
  left: 0;
  width: 1109px;
  height: 527px;
}
.hq5,
.hq6-1-icon {
  position: absolute;
  width: 1128px;
}
.hq6-1-icon {
  top: 569px;
  left: 0;
  height: 552px;
  object-fit: cover;
}
.hq5 {
  top: 3119px;
  left: 126px;
  height: 1121px;
}
.hq7-icon,
.hq8-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 465px;
  height: 331px;
  object-fit: cover;
}
.hq8-icon {
  left: 496px;
  width: 464px;
  height: 330px;
}
.hq9-icon {
  top: 414px;
  left: 0;
  width: 467px;
  height: 332px;
  object-fit: cover;
}
.hq10-icon,
.hq7,
.hq9-icon {
  position: absolute;
}
.hq10-icon {
  top: 414px;
  left: 496px;
  width: 464px;
  height: 330px;
  object-fit: cover;
}
.hq7 {
  top: 4414px;
  left: 240px;
  width: 960px;
  height: 746px;
}
.about-me,
.im-good-at,
.work {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 120px;
  flex-shrink: 0;
}
.im-good-at,
.work {
  width: 155px;
}
.work {
  width: 90px;
}
.about-me-parent {
  position: absolute;
  top: 85px;
  left: 545px;
  width: 895px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  font-size: var(--font-size-lg);
  font-family: var(--font-montserrat);
}
.interactretailhq-item {
  position: absolute;
  top: 113px;
  left: 935px;
  background-color: var(--color-burlywood-100);
  width: 62px;
  height: 5px;
}
.download-android-1-icon,
.download-mac-2-icon {
  position: absolute;
  top: 195px;
  left: 1187px;
  width: 76px;
  height: 25px;
  object-fit: cover;
}
.download-mac-2-icon {
  top: 191px;
  left: 1270px;
  width: 73px;
  height: 30px;
}
.back,
.group-child {
  position: absolute;
  top: 0;
}
.group-child {
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 131px;
  height: 46px;
}
.back {
  left: 19px;
  line-height: 36px;
  display: inline-block;
  width: 101px;
  height: 35px;
}
.left-chevron-1-icon {
  position: absolute;
  top: 11px;
  left: 0;
  width: 12px;
  height: 12px;
  object-fit: cover;
}
.back-parent {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 120px;
  height: 35px;
}
.rectangle-parent {
  position: absolute;
  top: 191px;
  left: 82px;
  width: 131px;
  height: 46px;
}
.interact-retail-hq {
  position: absolute;
  top: 525px;
  left: 80px;
  font-size: var(--font-size-61xl);
  line-height: 88px;
  display: inline-block;
  color: var(--color-burlywood-100);
  width: 455px;
  height: 170px;
}
.contact-bg-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 877px;
  object-fit: cover;
}
.discuss-a-project {
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
}
.blank-line3 {
  font-weight: 600;
}
.iammegagmailcom2 {
  text-decoration: underline;
}
.blank-line13 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.discuss-a-project-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 36px;
  display: inline-block;
  width: 708px;
  height: 105px;
}
.discuss-a-project-or-just-want-wrapper {
  position: absolute;
  top: 46px;
  left: 545px;
  width: 708px;
  height: 105px;
}
.div,
.wrapper {
  position: absolute;
  width: 677px;
  height: 42px;
}
.div {
  top: 0;
  left: 0;
  text-decoration: underline;
  line-height: 36px;
  font-weight: 600;
  display: inline-block;
}
.wrapper {
  top: 193px;
  left: 545px;
}
.facebook-icon,
.linkedin-icon {
  position: absolute;
  top: 0;
  left: 67px;
  width: 44.95px;
  height: 44.95px;
  object-fit: cover;
}
.linkedin-icon {
  left: 0;
}
.group-container,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 111.95px;
  height: 44.95px;
}
.group-wrapper {
  top: 272px;
  left: 548px;
}
.contact-bg-1-parent {
  position: absolute;
  top: 5139px;
  left: 0;
  width: 1440px;
  height: 877px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-montserrat);
}
.flow-1-icon,
.ml-logo-1-icon {
  position: absolute;
  top: 56px;
  left: 80px;
  width: 82px;
  height: 86px;
  object-fit: cover;
}
.flow-1-icon {
  top: 723px;
  left: 434px;
  width: 754px;
  height: 1070px;
}
.interactretailhq {
  position: absolute;
  height: 27.76%;
  width: 101.05%;
  top: 0.3%;
  right: -254.67%;
  bottom: 71.93%;
  left: 253.61%;
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.group-item {
  position: absolute;
  top: 6.99px;
  left: 177.55px;
  background-color: var(--color-white);
  width: 391.45px;
  height: 348.01px;
}
.rectangle-group,
.retail-install-1-icon {
  position: absolute;
  width: 569px;
  height: 355px;
}
.retail-install-1-icon {
  top: 0;
  left: 0;
  object-fit: cover;
}
.rectangle-group {
  top: 376px;
  left: 5134px;
}
.retail-hq-case-study-child {
  position: absolute;
  top: 237px;
  left: 0;
  width: 1440px;
  height: 634px;
  object-fit: cover;
}
.retail-hq-case-study-item {
  position: absolute;
  top: 381px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 696px;
  height: 419px;
}
.interact-retail-hq1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 33px;
  font-weight: 900;
  display: inline-block;
  width: 562px;
}
.enable-retail-headquarters {
  position: absolute;
  top: 79px;
  left: 0;
  font-size: var(--font-size-10xl);
  line-height: 40px;
  display: inline-block;
  color: var(--color-white);
  width: 553.15px;
  height: 147px;
}
.interact-retail-hq-parent {
  position: absolute;
  top: 525px;
  left: 75px;
  width: 562px;
  height: 226px;
  font-size: 57px;
  color: #ff304f;
}
.responsibilties {
  position: absolute;
  top: 1018px;
  left: 130px;
  font-size: var(--font-size-11xl);
  line-height: 33px;
}
.retail-headquarters-have {
  position: absolute;
  top: 1364px;
  left: 116px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  display: inline-block;
  width: 1193px;
  height: 178px;
}
.problem,
.the-solution {
  position: absolute;
  line-height: 33px;
}
.problem {
  top: 1293px;
  left: 116px;
  letter-spacing: 0.1em;
  font-weight: 300;
  display: inline-block;
  width: 76px;
}
.the-solution {
  top: 2311px;
  width: 160px;
}
.personas,
.stakeholder-map,
.the-solution {
  left: 116px;
  letter-spacing: 0.1em;
  font-weight: 300;
  display: inline-block;
}
.stakeholder-map {
  position: absolute;
  top: 6106px;
  line-height: 33px;
  width: 206px;
}
.personas {
  top: 7629px;
  width: 190px;
}
.design-thinking-workshop,
.personas,
.tools {
  position: absolute;
  line-height: 33px;
}
.design-thinking-workshop {
  top: 9146px;
  left: 116px;
  letter-spacing: 0.1em;
  font-weight: 300;
  display: inline-block;
  width: 273px;
  height: 57px;
}
.tools {
  top: 915px;
  left: 713px;
  font-size: var(--font-size-11xl);
}
.group-inner,
.retail-hq-case-study-inner {
  position: absolute;
  width: 1146px;
  height: 185px;
}
.group-inner {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.retail-hq-case-study-inner {
  top: 14423px;
  left: 133px;
}
.role {
  position: absolute;
  top: 915px;
  left: 130px;
  font-size: var(--font-size-11xl);
  line-height: 33px;
}
.mentor-and-guide {
  margin-bottom: 0;
}
.mentor-and-guide-the-junior-de {
  margin: 0;
  padding-left: var(--padding-5xl);
}
.lead-ux-designer-container,
.mentor-and-guide-container,
.sketch-photoshop-invision-container {
  position: absolute;
  top: 1056px;
  left: 144px;
  font-size: var(--font-inherit);
  line-height: 33px;
  font-family: var(--font-inherit);
}
.lead-ux-designer-container,
.sketch-photoshop-invision-container {
  top: 964px;
  left: 727px;
}
.lead-ux-designer-container {
  left: 144px;
}
.line-div {
  position: absolute;
  top: 1260.5px;
  left: 115.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1194px;
  height: 1px;
}
.rectangle-div,
.retail-hq-case-study-child1,
.retail-hq-case-study-child2,
.retail-hq-case-study-child3 {
  position: absolute;
  top: 10571px;
  left: 137px;
  background-color: var(--color-whitesmoke-200);
  width: 479px;
  height: 651px;
}
.retail-hq-case-study-child1,
.retail-hq-case-study-child2,
.retail-hq-case-study-child3 {
  top: 11265px;
}
.retail-hq-case-study-child2,
.retail-hq-case-study-child3 {
  top: 12973px;
}
.retail-hq-case-study-child3 {
  top: 13649px;
}
.retail-hq-case-study-child4,
.retail-hq-case-study-child5,
.retail-hq-case-study-child6 {
  position: absolute;
  top: 2273.5px;
  left: 115.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1178px;
  height: 1px;
}
.retail-hq-case-study-child5,
.retail-hq-case-study-child6 {
  top: 6068.5px;
}
.retail-hq-case-study-child6 {
  top: 7591.5px;
  width: 1194px;
}
.effective-lighting-in {
  font-family: var(--font-chivo);
}
.effective-lighting-in-container,
.why-did-we-container {
  position: absolute;
  top: 1560px;
  left: 123px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
  width: 582px;
  height: 714px;
}
.why-did-we-container {
  top: 9336px;
  left: 116px;
  width: 1203px;
  height: 281px;
}
.build-out-a,
.rapidly-diverging-on,
.reflect-upon-the,
.reflecting-on-how,
.when-we-outline {
  position: absolute;
  top: 9741px;
  left: 137px;
  font-size: var(--font-size-5xl);
  line-height: 40px;
  font-weight: 300;
  display: inline-block;
  width: 1162px;
  height: 62px;
}
.build-out-a,
.rapidly-diverging-on,
.reflecting-on-how,
.when-we-outline {
  top: 10441px;
  left: 135px;
  width: 1174px;
  height: 63px;
}
.rapidly-diverging-on,
.reflecting-on-how,
.when-we-outline {
  top: 12082px;
  left: 137px;
  width: 1138px;
  height: 50px;
}
.rapidly-diverging-on,
.reflecting-on-how {
  top: 12872px;
  height: 59px;
}
.reflecting-on-how {
  top: 14477px;
  height: 97px;
}
.if-we-dont {
  font-weight: 300;
}
.context,
.span {
  font-size: var(--font-size-13xl);
  font-family: var(--font-chivo);
}
.span {
  font-size: var(--font-size-5xl);
  font-weight: 300;
}
.who {
  color: #bd487d;
}
.span1 {
  color: var(--color-black);
}
.what {
  color: #5599e2;
}
.wow {
  color: #dca14d;
}
.who-what-and-wow {
  font-size: var(--font-size-13xl);
}
.experience {
  font-size: var(--font-size-xl);
  font-weight: 300;
}
.if-we-dont-container {
  position: absolute;
  top: 15944px;
  left: 137px;
  line-height: 40px;
  display: inline-block;
  width: 1138px;
  height: 104px;
  font-size: var(--font-size-5xl);
}
.image-112-icon,
.image-118-icon,
.image-120-icon {
  position: absolute;
  top: 744.13px;
  left: 0;
  width: 525.5px;
  height: 243.36px;
  object-fit: cover;
}
.image-112-icon,
.image-120-icon {
  top: 987.49px;
  left: 260.33px;
  width: 544.89px;
  height: 254.51px;
}
.image-112-icon {
  top: 0;
  left: 532.29px;
  width: 525.01px;
  height: 247.24px;
}
.image-113-icon,
.image-114-icon,
.image-115-icon {
  position: absolute;
  top: 256.45px;
  left: 0;
  width: 525.98px;
  height: 244.33px;
  object-fit: cover;
}
.image-114-icon,
.image-115-icon {
  top: 2.42px;
  left: 0.48px;
  width: 525.5px;
  height: 244.81px;
}
.image-115-icon {
  top: 256.45px;
  left: 532.29px;
  width: 525.01px;
  height: 244.33px;
}
.image-116-icon,
.image-117-icon,
.image-119-icon {
  position: absolute;
  top: 500.78px;
  left: 0;
  width: 525.98px;
  height: 245.3px;
  object-fit: cover;
}
.image-117-icon,
.image-119-icon {
  left: 536.16px;
  width: 521.14px;
  height: 243.36px;
}
.image-119-icon {
  top: 744.13px;
  height: 245.3px;
}
.image-118-parent {
  position: absolute;
  top: 18058px;
  left: 183px;
  width: 1057.3px;
  height: 1242px;
}
.blank-line24 {
  line-height: 28px;
}
.blank-line23 {
  margin: 0;
}
.blank-line23,
.span2 {
  font-size: var(--font-size-10xl);
}
.mike {
  margin: 0;
  font-size: var(--font-size-18xl);
}
.formula-manager {
  margin: 0;
  font-size: var(--font-size-6xl);
}
.uncertainty-of-roll-out {
  line-height: 37px;
}
.mike-formula-manager-container {
  position: absolute;
  top: 10587px;
  left: 172px;
  display: inline-block;
  width: 434px;
  height: 610px;
  font-size: var(--font-size-lg);
}
.mike-formula-manager-container1,
.patrick-facility-manager-container,
.patrick-facility-manager-container1 {
  position: absolute;
  top: 11281px;
  left: 172px;
  display: inline-block;
  width: 434px;
  height: 610px;
  font-size: var(--font-size-lg);
}
.mike-formula-manager-container1,
.patrick-facility-manager-container1 {
  top: 12989px;
}
.patrick-facility-manager-container1 {
  top: 13665px;
  line-height: 28px;
}
.empathising-the-users,
.the-big-picture1,
.understanding-the-current {
  position: absolute;
  top: 2363px;
  left: 116px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  display: inline-block;
  width: 1176px;
  height: 65px;
}
.empathising-the-users,
.understanding-the-current {
  top: 6158px;
  height: 131px;
}
.empathising-the-users {
  top: 7693px;
}
.designing-experiences-rather,
.develop-a-comprehensive-container {
  position: absolute;
  top: 2446px;
  left: 116px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
  width: 1187px;
  height: 106px;
}
.designing-experiences-rather {
  top: 9224px;
  left: 113px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  width: 1206px;
  height: 66px;
}
.as-is-scenario,
.big-ideas,
.empathy-mapping,
.hill-statement,
.need-statement,
.to-be-user-journey1 {
  position: absolute;
  top: 9656px;
  left: 137px;
  font-size: var(--font-size-lg);
  line-height: 56px;
  display: inline-block;
  width: 368px;
  height: 49px;
}
.as-is-scenario,
.big-ideas,
.hill-statement,
.need-statement,
.to-be-user-journey1 {
  top: 10365px;
}
.big-ideas,
.hill-statement,
.need-statement,
.to-be-user-journey1 {
  top: 12006px;
}
.big-ideas,
.hill-statement,
.to-be-user-journey1 {
  top: 12788px;
}
.hill-statement,
.to-be-user-journey1 {
  top: 14396px;
}
.hill-statement {
  top: 15863px;
}
.hill-1,
.hill-11,
.hill-2,
.hill-21,
.mike-formula-manager,
.patrick-facility-manager {
  position: absolute;
  top: 16222px;
  left: 147px;
  font-size: var(--font-size-11xl);
  line-height: 56px;
  display: inline-block;
  width: 347px;
  height: 47px;
}
.hill-11,
.hill-2,
.hill-21,
.mike-formula-manager,
.patrick-facility-manager {
  top: 17079px;
  left: 849px;
  width: 368px;
  height: 49px;
}
.hill-2,
.hill-21,
.mike-formula-manager,
.patrick-facility-manager {
  top: 17250px;
}
.hill-21,
.mike-formula-manager,
.patrick-facility-manager {
  top: 16119px;
  left: 147px;
  width: 347px;
  height: 46px;
}
.hill-21,
.patrick-facility-manager {
  top: 16984px;
  left: 849px;
  width: 426px;
  height: 56px;
}
.hill-21 {
  top: 16516px;
  left: 147px;
  width: 347px;
  height: 46px;
}
.image-88-icon {
  position: absolute;
  top: 415px;
  left: 79px;
  border-radius: var(--br-6xs);
  width: 79px;
  height: 80px;
  object-fit: cover;
}
.polygon-icon {
  position: absolute;
  top: 335px;
  left: 1087.42px;
  width: 344px;
  height: 312px;
}
.mac-bg-1-icon {
  object-fit: cover;
}
.image-89-icon,
.interactretailhq-header,
.mac-bg-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 743px;
  height: 435px;
}
.image-89-icon {
  top: 28px;
  left: 88px;
  width: 567px;
  height: 354px;
  object-fit: cover;
}
.interactretailhq-header-parent {
  position: absolute;
  top: 442px;
  left: 696px;
  width: 743px;
  height: 435px;
}
.problem-statement-1-icon {
  position: absolute;
  top: 1580px;
  left: 785px;
  width: 607.5px;
  height: 557px;
  object-fit: cover;
}
.retail-hq-case-study-child7 {
  position: absolute;
  top: 3994px;
  left: 115px;
  border-radius: 135.5px;
  background-color: var(--color-pink-100);
  width: 239px;
  height: 239px;
}
.solution-big-full-1-icon {
  position: absolute;
  top: 2621px;
  left: 261px;
  width: 886px;
  height: 1219px;
  object-fit: cover;
}
.retail-hq-case-study-child8 {
  position: absolute;
  top: 4483px;
  left: 1021px;
  width: 288px;
  height: 278px;
}
.retail-hq-case-study-child9 {
  position: absolute;
  top: 4681px;
  left: 631px;
  width: 130px;
  height: 125px;
}
.choose-your-list {
  margin-bottom: 18px;
}
.choose-your-list-of-formats-or {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.choose-your-list-container {
  position: absolute;
  top: 4175px;
  left: 830px;
  font-size: var(--font-inherit);
  line-height: 28px;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 384px;
  height: 223px;
}
.role-based-customization,
.role-based-customization1 {
  position: absolute;
  top: 4442px;
  left: 197px;
  font-size: var(--font-size-3xs);
  line-height: 28px;
  display: inline-block;
  width: 384px;
  height: 24px;
}
.role-based-customization1 {
  top: 5986px;
  left: 720px;
}
.ellipse-div {
  position: absolute;
  top: 5035px;
  left: 267px;
  border-radius: 50%;
  background-color: var(--color-pink-100);
  width: 374px;
  height: 375px;
}
.format-or-store,
.ui-screens {
  position: absolute;
  line-height: 28px;
  display: inline-block;
  width: 462px;
  height: 49px;
}
.format-or-store {
  top: 4108px;
  left: 830px;
  font-size: var(--font-size-12xl);
}
.ui-screens {
  top: 3920px;
  left: 131px;
  font-size: 22px;
}
.image-91-icon {
  position: absolute;
  top: 4579px;
  left: 647px;
  width: 645.01px;
  height: 377px;
  object-fit: cover;
}
.manage-scenes-at-container {
  position: absolute;
  top: 4761px;
  left: 164px;
  font-size: var(--font-inherit);
  line-height: 28px;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 450px;
  height: 206px;
}
.manage-lighting-scenes {
  position: absolute;
  top: 4644px;
  left: 164px;
  font-size: var(--font-size-12xl);
  line-height: 37px;
  display: inline-block;
  width: 471px;
  height: 91px;
}
.retail-hq-case-study-child10 {
  position: absolute;
  top: 5720.58px;
  left: 609.55px;
  width: 211.42px;
  height: 196.51px;
}
.mac-bg-1-icon1 {
  object-fit: cover;
}
.image-89-icon1,
.interactretailhq-header1,
.mac-bg-1-icon1 {
  position: absolute;
  top: calc(50% - 188.33px);
  left: calc(50% - 321.67px);
  width: 643.34px;
  height: 376.65px;
}
.image-89-icon1 {
  top: calc(50% - 164.08px);
  left: calc(50% - 245.47px);
  width: 490.94px;
  height: 306.52px;
  object-fit: cover;
}
.interactretailhq-header-group {
  position: absolute;
  top: calc(50% - 9449.5px);
  left: calc(50% - 57px);
  width: 643.34px;
  height: 376.65px;
}
.dashboard-view-of-container,
.get-an-overview-container {
  position: absolute;
  top: 5222px;
  left: 795px;
  font-size: var(--font-inherit);
  line-height: 28px;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 380px;
  height: 194px;
}
.dashboard-view-of-container {
  top: 5771px;
  left: 164px;
  width: 416px;
  height: 196px;
}
.deploy-light-settings1,
.monitor-store-performance {
  position: absolute;
  top: 5154px;
  left: 795px;
  font-size: var(--font-size-12xl);
  line-height: 28px;
  display: inline-block;
  width: 514px;
  height: 88px;
}
.monitor-store-performance {
  top: 5677px;
  left: 164px;
  height: 41px;
}
.retail-hq-case-study-child11,
.retail-hq-case-study-child12 {
  position: absolute;
  top: 7898px;
  left: 856px;
  border-radius: var(--br-383xl-5);
  background-color: var(--color-pink-100);
  width: 453px;
  height: 453px;
}
.retail-hq-case-study-child12 {
  top: 8640px;
  left: 116px;
}
.image-92-icon {
  position: absolute;
  top: 5121px;
  left: 116px;
  width: 644px;
  height: 377px;
  object-fit: cover;
}
.retail-hq-case-study-child13 {
  position: absolute;
  top: 7959px;
  left: 127px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 1164px;
  height: 571px;
}
.key-kpis-container,
.yrs-retail-container {
  position: absolute;
  top: 7988px;
  left: 452px;
  line-height: 28px;
  display: inline-block;
  width: 404px;
  height: 339px;
}
.key-kpis-container {
  top: 8044px;
  left: 859px;
  width: 432px;
  height: 356px;
}
.make-stores-more-attractive-an {
  margin: 0;
  padding-left: 19px;
}
.tensions-make-stores-container {
  position: absolute;
  top: 8381px;
  left: 450px;
  font-size: var(--font-inherit);
  line-height: 28px;
  display: inline-block;
  width: 841px;
  height: 147px;
}
.image-93-icon {
  position: absolute;
  top: 7988px;
  left: 147px;
  border-radius: var(--br-6xs);
  width: 289px;
  height: 505px;
  object-fit: cover;
}
.retail-hq-case-study-child14 {
  position: absolute;
  top: 8372px;
  left: 147px;
  background-color: var(--color-gray-300);
  width: 289px;
  height: 121px;
}
.formula-manager4 {
  margin: 0;
  font-size: var(--font-size-7xl);
}
.mike-formula-manager-container2 {
  position: absolute;
  top: 8391px;
  left: 163px;
  line-height: 44px;
  font-weight: 900;
  color: var(--color-white);
  font-size: var(--font-size-23xl);
}
.retail-hq-case-study-child15 {
  position: absolute;
  top: 9104.5px;
  left: 115.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1194px;
  height: 1px;
}
.retail-hq-case-study-child16 {
  position: absolute;
  top: 8565px;
  left: 127px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 1164px;
  height: 467px;
}
.key-kpis-container1,
.tensions-dealing-container,
.yrs-international-container {
  position: absolute;
  top: 8594px;
  left: 452px;
  line-height: 28px;
  display: inline-block;
  width: 421px;
  height: 422px;
}
.key-kpis-container1,
.tensions-dealing-container {
  top: 8648px;
  left: 888px;
  width: 381px;
  height: 323px;
}
.tensions-dealing-container {
  top: 8824px;
  left: 452px;
  width: 407px;
  height: 163px;
}
.image-94-icon {
  position: absolute;
  top: 8594px;
  left: 147px;
  border-radius: var(--br-6xs);
  width: 289px;
  height: 398px;
  object-fit: cover;
}
.retail-hq-case-study-child17 {
  position: absolute;
  top: 8871px;
  left: 147px;
  background-color: var(--color-gray-300);
  width: 289px;
  height: 121px;
}
.patrick-facility-manager-container2 {
  position: absolute;
  top: 8890px;
  left: 163px;
  line-height: 44px;
  font-weight: 900;
  color: var(--color-white);
  font-size: var(--font-size-23xl);
}
.image-96-icon,
.image-98-icon {
  position: absolute;
  top: 9849px;
  left: 716px;
  width: 552px;
  height: 427px;
  object-fit: cover;
}
.image-98-icon {
  left: 137px;
  width: 535px;
  height: 433px;
}
.image-100-icon,
.image-99-icon {
  position: absolute;
  width: 676px;
  height: 651px;
  object-fit: cover;
}
.image-99-icon {
  top: 10571px;
  left: 616px;
}
.image-100-icon {
  top: calc(50% - 3780.5px);
  left: calc(50% - 104px);
}
.image-101-icon,
.image-102-icon {
  position: absolute;
  top: 12164px;
  left: 166px;
  width: 1094px;
  height: 247px;
  object-fit: cover;
}
.image-102-icon {
  top: 12438px;
  width: 1089px;
  height: 242px;
}
.image-103-icon,
.image-104-icon,
.image-121-icon,
.image-2-1 {
  position: absolute;
  top: 12973px;
  left: 616px;
  width: 676px;
  height: 651px;
  object-fit: cover;
}
.image-104-icon,
.image-121-icon,
.image-2-1 {
  top: 13653px;
  height: 647px;
}
.image-121-icon,
.image-2-1 {
  top: 14545px;
  left: 125px;
  width: 1150px;
  height: 700px;
}
.image-121-icon {
  top: 16071px;
  left: 727px;
  width: 580px;
  height: 730px;
}
.image-122-icon,
.image-123-icon,
.image-124-icon {
  position: absolute;
  top: 16279px;
  left: 137px;
  width: 556px;
  height: 180px;
  object-fit: cover;
}
.image-123-icon,
.image-124-icon {
  top: 16579px;
  left: 147px;
  width: 546px;
  height: 144px;
}
.image-124-icon {
  top: 16942px;
  width: 656px;
  height: 513px;
}
.image-106-icon,
.image-125-icon,
.image-126-icon {
  position: absolute;
  top: 17130px;
  left: 849px;
  width: 446px;
  height: 94px;
  object-fit: cover;
}
.image-106-icon,
.image-126-icon {
  top: 17307px;
  width: 431px;
  height: 106px;
}
.image-106-icon {
  top: 21830px;
  left: 184px;
  width: 1050px;
  height: 705px;
}
.drafting-the-mvp,
.storyboarding,
.task-flows,
.the-final-screens,
.visuals,
.wireframing2 {
  position: absolute;
  top: 17581px;
  left: 113px;
  letter-spacing: 0.1em;
  line-height: 33px;
  font-weight: 300;
  display: inline-block;
  width: 216px;
  height: 52px;
}
.drafting-the-mvp,
.task-flows,
.the-final-screens,
.visuals,
.wireframing2 {
  top: 21616px;
}
.drafting-the-mvp,
.the-final-screens,
.visuals,
.wireframing2 {
  top: 23418px;
}
.drafting-the-mvp,
.the-final-screens,
.visuals {
  top: 25347px;
}
.drafting-the-mvp,
.the-final-screens {
  top: 26478px;
}
.drafting-the-mvp {
  top: 19370px;
}
.retail-hq-case-study-child18,
.retail-hq-case-study-child19,
.retail-hq-case-study-child20,
.retail-hq-case-study-child21 {
  position: absolute;
  top: 17543.5px;
  left: 112.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1194px;
  height: 1px;
}
.retail-hq-case-study-child19,
.retail-hq-case-study-child20,
.retail-hq-case-study-child21 {
  top: 21578.5px;
  width: 1195px;
}
.retail-hq-case-study-child20,
.retail-hq-case-study-child21 {
  top: 23380.5px;
}
.retail-hq-case-study-child21 {
  top: 25309.5px;
}
.retail-hq-case-study-child22,
.retail-hq-case-study-child23,
.retail-hq-case-study-child24,
.retail-hq-case-study-child25 {
  position: absolute;
  top: 28891.5px;
  left: 115.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1195px;
  height: 1px;
}
.retail-hq-case-study-child23,
.retail-hq-case-study-child24,
.retail-hq-case-study-child25 {
  top: 26435.5px;
  left: 112.5px;
}
.retail-hq-case-study-child24,
.retail-hq-case-study-child25 {
  top: 27987.5px;
}
.retail-hq-case-study-child25 {
  top: 19352.5px;
}
.clickable-prototype,
.created-a-birds,
.designed-as-a,
.identifying-the-sequential,
.storyboarding-played-a,
.the-final-product {
  position: absolute;
  top: 17633px;
  left: 113px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  display: inline-block;
  width: 1194px;
  height: 357px;
}
.clickable-prototype,
.created-a-birds,
.designed-as-a,
.identifying-the-sequential,
.the-final-product {
  top: 21668px;
  height: 125px;
}
.clickable-prototype,
.designed-as-a,
.identifying-the-sequential,
.the-final-product {
  top: 23470px;
  height: 282px;
}
.designed-as-a,
.identifying-the-sequential,
.the-final-product {
  top: 25399px;
  height: 58px;
}
.identifying-the-sequential,
.the-final-product {
  top: 26530px;
  height: 57px;
}
.identifying-the-sequential {
  top: 19432px;
  height: 125px;
}
.hq1-1-icon1,
.image-128-icon,
.image-129-icon {
  position: absolute;
  top: 22535px;
  left: 143px;
  width: 1122px;
  height: 413px;
  object-fit: cover;
}
.hq1-1-icon1,
.image-129-icon {
  top: 22961px;
  width: 1117px;
  height: 357px;
}
.hq1-1-icon1 {
  top: 11px;
  left: 0;
  width: 967px;
  height: 1187px;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 5px;
  background-color: var(--color-white);
  width: 224px;
  height: 91px;
}
.hq1-1-parent {
  position: absolute;
  top: 6343px;
  left: 229px;
  width: 967px;
  height: 1198px;
}
.retail-hq-case-study-child26,
.retail-hq-case-study-child27 {
  position: absolute;
  top: 9695.5px;
  left: 113.5px;
  border-right: 1px solid var(--color-pink-100);
  box-sizing: border-box;
  width: 1px;
  height: 699px;
}
.retail-hq-case-study-child27 {
  top: 10275.5px;
  height: 7138px;
}
.through-strategic-meetings,
.using-our-comprehensive {
  position: absolute;
  top: 6291px;
  left: 116px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
  width: 1177px;
  height: 88px;
}
.using-our-comprehensive {
  top: 7850px;
  height: 57px;
}
.group-child2,
.group-child3 {
  position: absolute;
  top: 12px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-pink-300);
  width: 32px;
  height: 32px;
}
.group-child3 {
  top: 15px;
  left: 3px;
  background-color: var(--color-pink-100);
  width: 26px;
  height: 26px;
}
.b {
  position: absolute;
  top: 0;
  left: 11px;
  line-height: 56px;
}
.ellipse-container,
.ellipse-group,
.ellipse-parent,
.ellipse-parent1,
.ellipse-parent2,
.group-div {
  position: absolute;
  top: 9656px;
  left: 98px;
  width: 32px;
  height: 56px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.ellipse-container,
.ellipse-group,
.ellipse-parent1,
.ellipse-parent2,
.group-div {
  top: 10365px;
}
.ellipse-container,
.ellipse-parent1,
.ellipse-parent2,
.group-div {
  top: 12006px;
}
.ellipse-parent1,
.ellipse-parent2,
.group-div {
  top: 12788px;
}
.ellipse-parent1,
.ellipse-parent2 {
  top: 14395px;
}
.ellipse-parent2 {
  top: 15863px;
}
.after-the-design,
.with-our-attention-container {
  position: absolute;
  top: 19604px;
  left: 114px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
  width: 1179px;
  height: 398px;
}
.after-the-design {
  top: 23563px;
  left: 115px;
  width: 1192px;
  height: 98px;
}
.image-108-icon,
.screenshot-2021-06-06-at-723 {
  position: absolute;
  top: 20718px;
  left: 128px;
  width: 1164px;
  height: 828px;
  object-fit: cover;
}
.screenshot-2021-06-06-at-723 {
  top: 20048px;
  height: 645px;
}
.image-130-icon,
.image-132-icon,
.image-133-icon {
  position: absolute;
  top: 23686px;
  left: 143px;
  width: 1117px;
  height: 1587px;
  object-fit: cover;
}
.image-132-icon,
.image-133-icon {
  top: 25443px;
  left: 158px;
  width: 1085px;
  height: 343px;
}
.image-133-icon {
  top: 4065px;
  left: 131px;
  width: 646px;
  height: 378px;
}
.image-135-icon,
.image-137-icon,
.image-138-icon,
.image-140-icon {
  position: absolute;
  top: 26618px;
  left: 19px;
  width: 737px;
  height: 419px;
  object-fit: cover;
}
.image-135-icon,
.image-138-icon,
.image-140-icon {
  left: 759px;
  width: 663px;
}
.image-138-icon,
.image-140-icon {
  top: 27062px;
  left: 19px;
  width: 737px;
}
.image-140-icon {
  top: 27449px;
  width: 31px;
  height: 26px;
}
.image-136-icon,
.image-139-icon,
.image-141-icon,
.image-142-icon {
  position: absolute;
  top: 27506px;
  left: 21px;
  width: 735px;
  height: 419px;
  object-fit: cover;
}
.image-136-icon,
.image-141-icon,
.image-142-icon {
  left: 759px;
  width: 663px;
}
.image-141-icon,
.image-142-icon {
  top: 27060px;
  left: 758px;
  width: 665px;
  height: 421px;
}
.image-142-icon {
  top: 25829px;
  left: 19px;
  width: 1388px;
  height: 563px;
}
.retail-hq-case-study-child28,
.retail-hq-case-study-child29 {
  position: absolute;
  top: 27987.5px;
  left: 115.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1194px;
  height: 1px;
}
.retail-hq-case-study-child29 {
  top: 29055.5px;
  left: 57.5px;
}
.few-featured-customers,
.who-uses-it {
  position: absolute;
  display: inline-block;
}
.who-uses-it {
  top: 28025px;
  left: 113px;
  letter-spacing: 0.1em;
  line-height: 33px;
  font-weight: 300;
  width: 366px;
  height: 30px;
}
.few-featured-customers {
  top: 28100px;
  left: 116px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  width: 1173px;
  height: 59px;
}
.image-143-icon {
  position: absolute;
  top: 28228px;
  left: 113px;
  width: 229px;
  height: 127px;
  object-fit: cover;
}
.image-144-icon,
.image-145-icon,
.image-146-icon {
  position: absolute;
  top: 28237px;
  left: 407px;
  width: 354px;
  height: 94px;
  object-fit: cover;
}
.image-145-icon,
.image-146-icon {
  top: 28205px;
  left: 809px;
  width: 291px;
  height: 138px;
}
.image-146-icon {
  top: 28433px;
  left: 113px;
  width: 245px;
  height: 137px;
}
.image-148-icon,
.image-150-icon,
.image-151-icon {
  position: absolute;
  top: 28465px;
  left: 796px;
  width: 292px;
  height: 53px;
  object-fit: cover;
}
.image-150-icon,
.image-151-icon {
  top: 28433px;
  left: 1161px;
  width: 152px;
  height: 152px;
}
.image-151-icon {
  top: 28636px;
  left: 306px;
  width: 155px;
  height: 185px;
}
.image-147-icon,
.image-152-icon,
.image-153-icon {
  position: absolute;
  top: 28655px;
  left: 555px;
  width: 297px;
  height: 166px;
  object-fit: cover;
}
.image-147-icon,
.image-153-icon {
  top: 28687px;
  left: 893px;
  width: 358px;
  height: 84px;
}
.image-147-icon {
  top: 1px;
  left: 5px;
  width: 181px;
  height: 121px;
}
.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 8px;
  height: 122px;
}
.image-147-parent {
  position: absolute;
  top: 28212px;
  left: 1127px;
  width: 186px;
  height: 122px;
}
.conclusion-learnings,
.what-id-do {
  position: absolute;
  left: 123px;
  display: inline-block;
}
.conclusion-learnings {
  top: 28937px;
  letter-spacing: 0.1em;
  line-height: 33px;
  font-weight: 300;
  width: 366px;
  height: 30px;
}
.what-id-do {
  top: 29024px;
  font-size: var(--font-size-27xl);
  line-height: 56px;
  width: 1173px;
  height: 59px;
}
.this-project-initially {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.another-area-for,
.better-visuals- {
  font-size: var(--font-size-xl);
  font-family: var(--font-chivo);
}
.another-area-for {
  font-size: var(--font-size-lg);
}
.better-visuals-another-area {
  margin-bottom: 5px;
}
.this-project-initially-container {
  position: absolute;
  top: 29122px;
  left: 123px;
  display: inline-block;
  width: 1204px;
  height: 659px;
  font-size: var(--font-size-lg);
}

.when-we-began-container {
  position: absolute;
  top: 21199px;
  left: 116px;
  display: inline-block;
  width: 1217px;
  height: 496px;
  font-size: var(--font-size-lg);
}

.image-149-icon {
  position: absolute;
  top: 28409px;
  left: 462px;
  width: 218px;
  height: 161px;
  object-fit: cover;
}
.portfolio {
  position: absolute;
  top: 187px;
  left: 79px;
  font-size: var(--font-size-base);
  line-height: 33px;
  font-weight: 300;
  cursor: pointer;
}
.chevron-1-icon {
  position: absolute;
  top: 199px;
  left: 158px;
  width: 7px;
  height: 9px;
  object-fit: cover;
}
.go-to-top {
  position: absolute;
  top: 29930px;
  left: 81px;
  width: 83.88px;
  height: 18.49px;
  cursor: pointer;
}
.interact-retail-hq2 {
  position: absolute;
  top: 187px;
  left: 178px;
  font-size: var(--font-size-base);
  line-height: 33px;
}
.ml-logo-1-icon1 {
  position: absolute;
  top: 56px;
  left: 80px;
  width: 82px;
  height: 86px;
  object-fit: cover;
  cursor: pointer;
}
.retail-hq-case-study-child30 {
  position: absolute;
  top: 108px;
  left: 1082px;
  background-color: var(--color-burlywood-100);
  width: 78px;
  height: 5px;
}
.about-me1,
.my-skill-set,
.portfolio1,
.resume {
  position: absolute;
  top: 85px;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.about-me1 {
  left: 633px;
  font-weight: 500;
  width: 120px;
}
.my-skill-set,
.portfolio1,
.resume {
  left: 837px;
  width: 155px;
}
.portfolio1,
.resume {
  left: 1076px;
  width: 90px;
}
.resume {
  left: 1250px;
  width: 120px;
}
.hq5-1-icon1 {
  position: absolute;
  bottom: 14262px;
  left: 141px;
  width: 1143px;
  height: 543px;
  object-fit: cover;
}
.group-child15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-14xl);
  background-color: var(--color-burlywood-200);
  width: 316px;
  height: 45px;
}
.view-next-project {
  position: absolute;
  top: 17px;
  left: 32px;
  line-height: 36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 12px;
}
.rectangle-container {
  position: absolute;
  top: 29916px;
  left: 1053px;
  width: 316px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.retail-hq-case-study {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 30091px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-chivo);
}
