.card-project {
    text-align: left;
    margin: 1rem .5rem 0rem .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .01), 0 6px 20px 0 rgba(0, 0, 0, .1);
    padding: 2rem 1rem 0rem 1rem;
    width: 620px;
    border-radius: 10px;
    cursor: pointer;
}

/* div.card-project.shadow :hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .1);

} */

.work-link {
text-decoration: none;
color: #333;
}

.title-project {
    text-align: left;
}

.body-project ul {
    padding: 0;
}

.logo-project {
    width: 8rem;
    height: 8rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: 50%;
    display: inline-block;
    margin: 0rem .5rem .5rem .5rem;
}

.thumbnail-project {
    width: 98%;
    /* height: 18rem; */
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3); */
    /* border-radius: 5px; */
    display: inline-block;
    margin: 1rem .5rem 0rem .5rem;
    vertical-align: bottom;
}
.info-project {
    display: inline-block;
    margin: 0rem .5rem .5rem .5rem;
    padding: 0rem;
}

.role-project {
    margin: 0;
}

.company-project {
    font-weight: normal;
    margin: 0;
}

.location-project {
    display: block;
    color: #cecece
}

.date-project {
    display: block;
    color: #cecece
}

li {
    list-style-type: none;
}

li h5 {
    margin: .250rem 0rem .250rem 0rem;
}