.projectTitle-main {
  /* width: 90%; */
  /* padding: 100px 30px; */
  /* margin: 0px auto; */
  /* margin-top: 2rem; */
  background: #e5e5e5;
}

.projectTitle-main {
  display: flex;
}
.projectTitle-text-inner-div {
  display: flex;
}
.projectTitle-text-inner-div span {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 3rem;
  padding: 10px;
  line-height: 1;
}

.projectTitle-text-inner-div {
  display: flex;
}

.projectTitle-text-inner-div > * {
  flex: 1;
  /* margin-bottom: 30px; */
}

.projectTitle-text-inner-div-img {
  display: flex;
  margin-top: 20px;
  max-width: 70%;
}
.projectTitle-text-inner-div-img img {
  vertical-align: bottom;
}

.projectTitle-text-inner-div-title {
  display: flex;
  margin-top: 20px;
  position: relative;
  max-width: 50%;
}

.subTitle {
  /* font-family: "Abhaya Libre"; */
  color: #333 !important;
  font-weight: bold;
}

.projectTitle-main-content {
  content: "";
  display: table;
  clear: both;
}
.projectTitle-back-btn-div {
  display: flex;
  margin: 10px 10px 10px 10px;
}
.projectTitle-back-btn-div .div-container {
  width: 50%;
  padding-left: 30px;
}
.projectTitle-text-div {
  margin: 10px 10px 0px 10px;
  
}

.projectTitle-text-inner-div-title-span {
  margin: 10px 10px 0px 10px;
  color: rgb(219, 164, 107);
  font-size: larger;
  font-weight: bold;
  position: absolute;
}
.projectTitle-store-div {
  float: right;
  width: 50%;
  margin: 30px 10px 10px 10px;
  display: flex;
  /* height: 300px; */
}

.projectTitle-main > * {
  flex: 1;
  /* margin-bottom: 30px; */
}
.button-projectTitle-div {
  display: flex;
  margin-top: 20px;
}

.projectTitle-text {
  font-size: 20px;
  line-height: 1.1;
  color: black !important;
}

.title-text {
  font-size: 70px;
  line-height: 1.1;
  color: black !important;
}

.projectTitle-text-p {
  font-size: 20px;
  line-height: 30px;
}

.projectTitle-image-div > img {
  max-width: 100%;
  height: auto;
}

.back-container {
  margin-top: 30px;
}
.back-container.black .main-button {
  background-color: #fff;
  border: solid 1px #fff;
  color: #333;
}
.back-container.black .main-button:hover {
  background-color: #333;
  border: solid 1px #333;
  color: #fff;
}

.wave-emoji {
  font-size: 30px;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .projectTitle-text {
    font-size: 30px;
  }
  .title-text {
    font-size: 80px;
  }
  .projectTitle-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-projectTitle-div {
    justify-content: space-around;
  }
  .projectTitle-text {
    font-size: 15px;
    text-align: center;
  }

  .title-text {
    font-size: 50px;
  }

  .projectTitle-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .projectTitle-main {
    display: block;
  }
  .projectTitle-image-div {
    height: 256px;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
}
