.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}
.iAmGoodAt-main {
  width: 90%;
  padding: 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.iAmGoodAt-main {
  display: flex;
  margin-left: 0px;
  padding-left: 0px;
}

.subTitle {
  /* font-family: 'Abhaya Libre'; */
  color: #333 !important;
  font-weight: bold;
}

.iAmGoodAt-text-content-container {
  display: flex;
}

.iAmGoodAt-text-content-container .iAmGoodAt-text-content{
  flex: 1;
  margin: 10px 10px 30px 0px;
}

.iAmGoodAt-main {
  display: flex;
}

.iAmGoodAt-main > * {
  flex: 1;
  margin-bottom: 30px;
  padding-left: 0px;
}

.iAmGoodAt-main .iAmGoodAt-text-div {
  padding-left: 140px;
}
.button-iAmGoodAt-div {
  display: flex;
  margin-top: 20px;
}

.iAmGoodAt-text {
  font-size: 20px;
  line-height: 1.1;
  color: black !important;
}

.iAmGoodAt-title-text {
  /* font-size: 70px; */
  line-height: 1.1;
  color: black !important;
}
.iAmGoodAt-text-skill {
  margin-bottom: 50px;
}
.iAmGoodAt-text-p {
  font-size: 20px;
  /* line-height: 30px; */

  margin: 10px;
  color: black !important;
  /* font-family: 'Abhaya Libre'; */
  /* line-height: 5px; */
}

.iAmGoodAt-image-div > img {
  max-width: 100%;
  height: auto;
}

.wave-emoji {
  font-size: 30px;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .iAmGoodAt-text {
    font-size: 30px;
  }
  .iAmGoodAt-title-text {
    /* font-size: 80px; */
  }
  .iAmGoodAt-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-iAmGoodAt-div {
    justify-content: space-around;
  }
  .iAmGoodAt-text {
    font-size: 15px;
    text-align: center;
  }

  .iAmGoodAt-title-text {
    font-size: 3rem;
  }

  .iAmGoodAt-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .iAmGoodAt-main {
    display: block;
  }
  .iAmGoodAt-image-div {
    height: 256px;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
}
