.previous_btn, .next_btn {
    width: 100px;
    position: fixed;
    z-index: 1000000;
    top: 35%;
}

.previous_btn {
    padding-left: 50px;
}
.next_btn {
    right: 0;
}
.previous_btn img, .next_btn img {
    height: 40px;
}

.previous_btn.hide, .next_btn.hide {
    display: none;
}

.previous_btn.show, .next_btn.show {
    display: block;
}